.footer_cat {
  &-item {
    display: flex;
    &_heading {
      font-weight: 600;
      font-size: 12px;
      line-height: 14px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include breakpoint($phone) {
        font-size: 18px;
        line-height: 18px;
        letter-spacing: 0.02em;
      }

      color: $white;
      width: 100%;
      padding-bottom: 13px;
      border-bottom: 1px solid $gray;
      margin-bottom: 20px;
      max-width: 270px;
      cursor: pointer;

      &-arrow {
        transform: rotate(90deg);
        @include  breakpoint($medium) {
          display: none;
        }
      }
    }

    &_list {
      @include breakpoint($phone) {
        &:nth-child(2) {
          margin-left: 30px;
        }
      }
      ul {
        list-style: none;
        padding: 0;
        &:first-child {
          margin-right: 31px;
        }
        li {
          font-size: 12px;
          line-height: 14px;
          letter-spacing: 0.02em;
          color: $white;
          margin: 0 0 7px 0;
          cursor: pointer;
          span {
            a {
              color: $white;
            }
            @media screen and (min-width: $phone) {
              @include underline();
            }
          }
        }
      }
    }
  }
}
