.delSelf {
    margin: 0 0 30px 0;

    &_btn {
        background: $yellow;
        border-radius: 30px;
        width: 270px;
        height:40px;
        display: flex;
        align-items:center;
        justify-content: center;
        cursor: pointer;

        span {
            font-family: $font;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.02em;
            color: #292930;
        }
    }
    .flat_btn {
        background: #fff;
        border: 1px solid $yellow;
    }
    &_label {
        font-weight: 500;
        font-size: 12px;
        line-height: 130%;
        color: $dblack;
        margin-bottom: 15px;
    }
    &_input {
        width: 100%;
        border: 1px solid $light_gray;
        box-sizing: border-box;
        height: 40px;
        padding: 0 0 0 10px;
        outline: none;
    }
    &_btns {
        display: flex;
        grid-gap: 30px;
        margin: 30px 0 0 30px;
    }
}
