.aboutc {
    padding: 0 30px;
    max-height: 400px;

    @include breakpoint($medium) {
        padding: 0;
        max-height: initial;
    }

    &_col {
        &:nth-child(2) {
            display: none;

            @include breakpoint($medium) {
                margin-top: 33px;
                display: block;
            }
        }
    }

    &_wrap_head {
        display: flex;
        align-items: flex-end;
        max-width: 800px;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    &_cols {
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-rows: 1fr 1fr;

        @include breakpoint($medium) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: none;
            width: 1030px;
        }
    }

    &_line {
        display: none;
        width: 100%;
        border-bottom: 1px solid $yellow;
        margin-left: 25px;

        @include breakpoint($medium) {
            display: block;
        }
    }

    .right_row {
        align-items: center;
        cursor: pointer;

        .aboutc_prgf {
            text-align: right;
        }

        @include breakpoint($medium) {
            grid-template-columns: 1fr .01fr;
        }
    }

    &_row {
        display: grid;
        align-items: center;
        grid-gap: 25px;
        max-width: 465px;
        cursor: pointer;
        margin-bottom: 20px;

        @include breakpoint($medium) {
            margin-bottom: 30px;
            grid-template-columns: .01fr 1fr;
        }
    }

    &_year {
        font-family: $semifont;
        font-weight: 600;
        font-size: 24px;
        line-height: 26px;
        text-transform: uppercase;
        color: $black;
    }
    &_search {
        background-image: url('/images/about/search.svg');
        display: block;
        height: 30px;
        width: 30px;
        display: none;

        @include breakpoint($medium) {
            display: block;
        }
    }

    &_prgf {
        font-family: $font;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.02em;
        color: $black;
        margin: 0;
    }
}
