.aboutc {
    &_col {
        &:nth-child(2) {
            margin-top: 33px;
        }
    }

    &_wrap_head {
        display: flex;
        align-items: flex-end;
        max-width: 800px;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    &_cols {
        width: 1030px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    &_line {
        width: 100%;
        border-bottom: 1px solid $yellow;
        margin-left: 25px;
    }

    .right_row {
        grid-template-columns: 1fr .01fr;
        align-items: center;

        .aboutc_prgf {
            text-align: right;
        }
    }
    &_row {
        display: grid;
        grid-template-columns: .01fr 1fr;
        align-items: center;
        grid-gap: 25px;
        margin-bottom: 30px;
        max-width: 465px;
    }

    &_year {
        font-family: $semifont;
        font-weight: 600;
        font-size: 24px;
        line-height: 26px;
        text-transform: uppercase;
        color: $black;
    }
    &_search {
        background-image: url('/images/about/search.svg');
        display: block;
        height: 30px;
        width: 30px;
    }

    &_prgf {
        font-family: $font;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.02em;
        color: $black;
        margin: 0;
    }
}
