.navigator {
    position: relative;
    max-width: $layoutw;
    margin: 0 auto;
    padding-bottom: 100px;

    &_wrap {
      margin: 25px 0 35px 30px;

      @include breakpoint($medium) {
          margin: 25px 0 35px 0;
      }

      &-line {
          width: 100%;
          margin: 0 auto;

          &_items {
              display: flex;
              justify-content: space-between;
              margin-top: 10px;

              &-item {
                  margin: 0 20px 0 0;
                  font-family: $semifont;
                  font-style: normal;
                  font-weight: 600;
                  font-size: 12px;
                  line-height: 14px;
                  letter-spacing: 0.02em;
                  color: $black;
                  cursor: pointer;

                  @include  breakpoint($medium) {
                      margin: 0;
                  }
              }
          }
      }

      &-items::-webkit-scrollbar {
        display: none;
      }

      &-items {
        display: flex;
        overflow: scroll;
        margin-right: 30px;
        -ms-overflow-style: none;

        @include breakpoint($medium) {
          margin-right: 10px;
        }

        &-item {
          margin: 0 10px;
          padding: 10px 0;
          font-family: $font;
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          line-height: 14px;
          letter-spacing: 0.02em;
          color: $dblack;
          cursor: pointer;

          @include breakpoint($medium) {
            min-width: 79px;
            text-align: center;
          }
        }
      }
    }
}

.descline {
    &_item {
        margin-left: 30px;
        display: block;
        background: $gradient;
        height: 5px;
        position: absolute;
        width: 83%;
        left: 0;
        top: -5px;
        transition: width $transition;

        @include breakpoint($medium) {
            margin-left: 0;
        }
    }
}
