.blogCom {
    margin-bottom: 50px;

    .action_btn {
        align-self: flex-end;
        margin-right: 70px;
    }

    &_area {
        display: flex;
        flex-direction: column;

        label {
            font-family: $mfont;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.02em;
            color: $dblack;
            padding-bottom: 5px;
        }
        textarea {
            width: 1030px;
            height: 181px;
            border-radius: 30px;
            margin-bottom: 30px;
            outline: none;
            padding: 20px 0 0 30px;
            resize: none;
            font-family: $font;
            font-size: 100%;
            font-weight: 400;
            color: inherit;
        }
        textarea::placeholder {
            font-size: 12px;
        }
    }
    &_group {
        width: 500px;
        height: 60px;
    }
    &_group {
        display: flex;
        flex-direction: column;

        label {
            display: flex;
            font-family: $mfont;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.02em;
            color: $dblack;
            padding-bottom: 5px;

            span {
                margin-left: 5px;
                color: $ruby;
            }
        }
        input {
            height: 40px;
            width: 500px;
            border-radius: 40px;
            outline: none;
            padding-left: 30px;
        }
    }
    &_inputs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
        margin-bottom: 20px;
    }
    &_wrap {
        width: 1170px;
        height: 474px;
        margin: 0 auto;
        background: $light_gray;
        border-radius: 30px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    &_head {
        margin: 0 auto;
        display: inline-block;
        padding-top: 30px;
        margin-bottom: 20px;

        &-item {
            font-family: $semifont;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 110%;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            color: $dblack;
            padding-bottom: 10px;
            border-bottom: 1px solid #FED935;
        }
    }
}
