.postItem_date {

}
.postItem_comments {
    &_like {}
    &_dislike {}
    &_response {}

    &_comment {

    }
    &_nick {

    }
    &_avatar {

    }
    &_col {

    }
    &_item {}
    &_header {
        &_item {}
    }
}

.postItem_auth {
    &_login {
        margin-bottom: 10px;
        .btn_group {
            display:flex;
            flex-direction: row!important;
            justify-content: flex-end;
        }
        .form_group {
            @include formGroup();
        }
    }
    &_register {
        .btn_group {
            display:flex;
            flex-direction: row!important;
            justify-content: flex-end;
        }
        .form_group {
            @include formGroup();
        }
    }
}
