.postItem {
    width: 100%;

    &_actions {
        margin-left: 85px;
    }

    &_posted {
        padding-left: 45px;
        .postList_posted_date {
            margin-left: 15px;
        }
        
        &:after {
            left: 24px;
            top: 0;
        }
    }

    &_top {
        max-width: 1170px;
        margin: 0 auto;
    }

    &_backIcon, &_fwdIcon {
        width: 25px;
        height: 25px;
    }
    
    &_backIcon {
        background-image: url('/images/blog/blogPost_prev.svg');
        margin-right:10px;
    }
    &_fwdIcon {
        background-image: url('/images/blog/blogPost_next.svg');
        margin-left:10px;
    }
    &_backText {
    }
    &_fwdText {

    }

    &_cat {}

    &_head {
        margin-bottom: 0;
    }

    &_btns {
        display: flex;
        max-width: 1170px;
        margin: 0 auto;
        height: 56px;
        align-items: center;

        &_item {
            display: flex;
            align-items: center;
            cursor: pointer;

            &:first-child {
               border-right: 1px solid #e9e9ea;
               padding-right: 22.5px;
            }
        }
        .postList_posted {
            margin-right: 60px;
        }
        &_inner {
            display: flex;
            font-family: $mfont;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            text-align: justify;
            letter-spacing: 0.02em;
            color: #000000;
            grid-gap: 22.5px;
        }
    }

    &_date {
        margin-left: 20px;
        font-family: $font;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        text-align: justify;
        letter-spacing: 0.02em;
        color: $gray;
    }
    &_comments {
        margin-bottom: 20px;

        &_responseBtn {
            width: 130px;
            height: 40px;
            background-color: $gray;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &_icon {
                width: 30px;
                height: 30px;
                background-image: url('/images/icons/postItem/comments.svg');
                background-repeat: no-repeat;
                background-position: center;
                margin-right: 10px;
            }

            &_item {
                font-family: $font;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                text-align: justify;
                letter-spacing: 0.02em;
                text-transform: uppercase;
                color: $dblack;
            }
        }
        &_comment {
            font-family: $font;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 20px;
            text-align: justify;
            letter-spacing: 0.02em;
            color: $dblack;
            padding-bottom: 20px;
        }
        &_likeCount, &_dislikeCount, &_responseCount {
            font-family: $font;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            text-align: justify;
            letter-spacing: 0.02em;
            color: $gray;
        }
        &_like, &_dislike, &_response {
            background-repeat: no-repeat;
            background-position: center;
            width: 40px;
            height: 40px;
            cursor: pointer;
        }
        &_like {
            background-image: url('/images/icons/postItem/likeGray.svg');
        }
        &_dislike {
            background-image: url('/images/icons/postItem/dislikeGray.svg');
        }
        &_response {
            background-image: url('/images/icons/postItem/commentsGray.svg');
        }
        &_col {
            &:last-child {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-end;
            }
            &_item {
                max-width: 130px;
                display: flex;
                align-items: center;
                &:first-child {
                    height: 20px;
                }
            }
        }
        &_nick {
            font-family: $semifont;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 14px;
            text-align: justify;
            letter-spacing: 0.02em;
            color: $dblack;
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }
        &_item {
            display: grid;
            grid-template-columns: 70px 3fr 170px;
            grid-gap: 30px;
            border-bottom: 1px solid $gray;
            margin-bottom: 20px;
        }
        &_avatar {
            width: 40px;
            height: 40px;
            background-image: url('/images/icons/postItem/avatar.svg');
        }
        &_header {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 30px;

            &_item {
                font-family: $semifont;
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 110%;
                text-align: justify;
                letter-spacing: 0.02em;
                text-transform: uppercase;
                color: $dblack;

                &:nth-child(2) {
                    font-family: $font;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 110%;
                    text-align: justify;
                    letter-spacing: 0.02em;
                    text-transform: uppercase;
                    color: $gray;
                    margin-left: 20px;
                }
            }
        }
    }
    &_block {
        max-width: $layoutw;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 340px 760px;
        grid-gap: 60px;
        margin-top: 70px;
        margin-bottom: 50px;
    }
    &_face, &_insta, &_tele, &_vk, &_like, &_dislike {
        height: 40px;
        width: 40px;
        margin: 0 10px;
        cursor: pointer;
    }
    &_face {
        background-image: url('/images/icons/postItem/face.svg');
    }
    &_insta {
        background-image: url('/images/icons/postItem/insta.svg');
    }
    &_tele {
        background-image: url('/images/icons/postItem/tele.svg');
    }
    &_vk {
        background-image: url('/images/icons/postItem/vk.svg');
    }
    &_like {
        background-image: url('/images/icons/postItem/like.svg');
    }
    &_dislike {
        background-image: url('/images/icons/postItem/dislike.svg');
    }
    &_text {
        margin: 0 10px;
        font-family: $semifont;
    }
    &_wrap {
        max-width: $layoutw;
        margin: 0 auto;
    }
    p {
        font-size: 12px;
        img {
            object-fit: cover;
        }
    }
    &_footer {
        width: 100%;
        height: 70px;
        background: $light_gray;

        &_item {
            font-family: $font;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            text-align: justify;
            letter-spacing: 0.02em;
            color: $black;

            display: flex;
            align-items: center;
            justify-content: space-around;
            min-width: 270px;
            position: relative;

            &:nth-child(2)::before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: -60px;
                width: 1px;
                height: 100%;
                background: $dblack;
            }
        }
        &_inner {
            max-width: $layoutw;
            margin: 0 auto;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}
