.land {
  max-width: $layoutw;
  margin: 0 auto;

  &_block {
    display: flex;
    max-width: 870px;
    padding-bottom: 80px;
    margin: 0 auto;

    &-item {

      &_slider {
        margin-left: 70px;
        margin-top: 1.85rem;

        &-item {
          &:nth-child(1) {
            margin-bottom: 35px;
          }

          &_label {
            display: flex;
            justify-content: space-between;
            font-family: $font;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.02em;
            color: $black;
            margin-bottom: 4px;
          }

          &_totalbenefit {
            margin-top: 30px;
            &-text {
              width: 300px;
              height: 50px;
              background: $yellow;
              margin: 0 auto;

              display: flex;
              align-items: center;
              justify-content: center;

              &_item {
                position: relative;

                span {
                  font-family: $font;
                  font-style: normal;
                  font-weight: 600;
                  font-size: 36px;
                  line-height: 100%;
                  letter-spacing: -0.02em;
                  text-transform: uppercase;
                  color: $dblack;
                }

                img {
                  width: 13px;
                  height: 18px;
                  position: absolute;
                  bottom: -1px;
                  right: -20px;
                }
              }
            }
            &-heading {
              text-align: center;
              ont-family: $font;
              font-weight: 500;
              font-size: 12px;
              line-height: 14px;
              letter-spacing: 0.02em;
              text-transform: uppercase;
              color: $black;
              margin-bottom: 10px;
            }
          }

          &_benefit-item {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 50px;

            &_card {
              display: grid;
              grid-template-rows: 125px 50px;
              border: 1px solid $feedItem;


              &-image {
                margin: 20px;
              }

              &-price {
                text-align: center;
                font-family: $font;
                font-weight: 600;
                font-size: 24px;
                line-height: 26px;
                text-transform: uppercase;
                color: $dblack;
                background: $feedItem;
                width: 100%;
                height: 100%;

                display: flex;
                align-items: center;
                justify-content: center;

                &-item {
                  position: relative;

                  img {
                    position: absolute;
                    width: 10px;
                    height: 15px;
                    bottom: -1px;
                    right: -14px;
                  }
                }
              }
            }
          }
        }
      }
      &_icon {
        img {
          width: 86px;
          height: 86px;
        }
      }
      &_image {
        margin-left: 130px;
        margin-top: 2.5rem;
      }

      &_text {
        width: 370px;

        &-false {
          font-family: $font;
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          line-height: 18px;
          letter-spacing: 0.02em;
          text-decoration-line: line-through;
          color: $gray;
          margin-bottom: 5px;
          
          &_item {
              text-decoration: line-through;
          }
        }

        &-heading {
          font-family: $font;
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 18px;
          letter-spacing: 0.02em;
          color: $dblack;
          margin-bottom: 10px;
        }

        &-text {
          font-family: $font;
          font-size: 12px;
          line-height: 20px;
          text-align: justify;
          letter-spacing: 0.02em;
          color: $dblack;
          &_item {
            display: block;
            font-family: $font;
            font-size: 12px;
            line-height: 20px;
            text-align: justify;
            letter-spacing: 0.02em;
            color: $dblack;

            &:nth-child(1) {
              margin-bottom: 15px;
            }
          }
        }
      }

      &:nth-child(1) {
        min-width: 130px;
      }
      &:nth-child(2) {
      }
    }
  }
}
