.landswipe {
  width: 100%;
  
  &_wrap {
    border: 5px solid $yellow;
    max-width: 770px;
    height: 300px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 30px;

    &-decor, &-decor2 {
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      position: absolute;
      &_item {
        object-fit: contain !important;
        width: 40px !important;
        height: 25px !important;
      }
    }
    &-decor2 {
      bottom: -1.8rem;
      right: 50px;
      transform: rotate(180deg);
    }
    &-decor {
      top: -1.9rem;
      left: 50px;
    }

    &-item {
      &:nth-child(3) {
        margin-left: 30px;
      }
      &_desc {
        &-text {
          text-align: justify;

          &_item {
            font-family: $font;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.02em;
            color: $dblack;
          }
        }
      }
      &_img {
        height: 240px;
        width: 160px;
      }
      &_head {
        display: grid;
        grid-template-columns: .11fr 1fr;
        margin-bottom: 10px;

        &-logo {
          height: 50px!important;
          width: 50px!important;
          margin-right: 15px;
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
          border-radius: 50%;
        }
        &-text {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          border-bottom: 1px solid $yellow;
          padding-bottom: 10px;
          width: 100%;
          align-self: center;

          &_item {
            font-family: $font;
            font-size: 12px;
            line-height: 14px;
            text-align: right;
            letter-spacing: 0.02em;
            color: $dblack;

            &:nth-child(2) {
              font-family: $font;
              font-style: normal;
              font-weight: 600;
              font-size: 18px;
              line-height: 18px;
              text-align: right;
              letter-spacing: 0.02em;
              color: $dblack;
            }
          }
        }
      }
    }
  }
}

.landswipe_swiper {
  margin-bottom: 50px;
  
  .swiper-pagination {
    display: none!important;
  }

  .swiper-wrapper {
    .swiper-slide  {
      width: 770px!important;
    }
  }
}