@import "./variables/variables";
@import "./utils/utils";
@import "./utils/classes";
@import "./components/header";
@import "./components/menu.scss";
@import "./components/menu/menu_secondary";
@import "./components/subscription.scss";
@import "./components/footer/footer";
@import "./components/footer/footer_categories";
@import "./components/footer/payments";
@import "./components/slider";
@import "./components/layout";
@import "./components/banner";
@import "./components/banners_mob";
@import "./components/viewed";
@import "./components/sales";
@import "./components/sales_slider";
@import "./components/sales_slider_card";
@import "./components/sales_best2";
@import "./components/sales_eco";
@import "./components/news";
@import "./components/carousel";
@import "./components/breadcrumbs";
@import "./components/product";
@import "./components/filters/filters";
@import "./components/filters/mfilters";
@import "./components/pagination";
@import "./components/history";
@import "./components/product_details";
@import "./components/product_details-swiper";
@import "./components/product_info";
@import "./components/product_comments";
@import "./components/product_gallery";
@import "./components/product_feedback-form";
@import "./components/cart";
@import "./components/sales_mob";
@import "./components/information";
@import "./components/contacts";
@import "./components/contacts_feedback";
@import "./components/hits";
@import "./components/hits_ofers";
@import "./components/blog";
@import "./components/like";
@import "./components/comments";
@import "./components/buttons";
@import "./components/tip";
@import "./components/swiper/main_page";
@import "./components/product_details_slider";
@import "./components/swiper/owl-swiper.scss";
@import "./components/about/mission";
@import "./components/about/navigator";
@import "./components/about/about_hero";
@import "./components/bestPrinters/bestPrinters";
@import "./components/landing/lenta";
@import "./components/landing/video";
@import "./components/landing/heading";
@import "./components/landing/block";
@import "./components/landing/feed";
@import "./components/landing/landswipe";
@import "./components/bestPrinters/bestPrintersSwipe";

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: $font;
    font-style: normal;
    font-weight: normal;
    overflow-x: hidden !important;
}

@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "MontserratSemiBold";
    src: url("/fonts/Montserrat-semibold.ttf");
}

main {
    min-height: 500px;
}
.main {
    max-width: 970px;
    margin: 0 auto;
    background: $white;
    box-shadow: $popupboxshadow;
    width: 970px;
    height: 574px;
    margin-bottom: 250px;
    position: relative;

    .container {
        width: 320px;
        height: 346px;
        margin: 0 auto;
        align-self: flex-start;
        padding-top: 38px;
    }
    .card-body {
        align-self: flex-start;
        width: 100%;
        //padding-top: 38px;

        form {
            .btn-primary {
                border-radius: 30px;
                background: $yellow;
                width: 200px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 10px 0;
                border: none;
                cursor: pointer;

                font-family:$font;
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;
                text-align: center;
                letter-spacing: 0.02em;
                text-transform: uppercase;
                color: $dblack;
            }
            .agreement {
                display: flex;
                align-items: center;
                margin: 20px 0 30px 0;

                span {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 14px;
                    letter-spacing: 0.02em;
                    color: $blue;
                    margin-left: 35px!important;
                }

                .form-check_box {
                    border: 1px solid $gray;
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    z-index: 99999;
                    background: #fff;
                    cursor: pointer;



                    &-wrap {

                    }
                }

                .form-control {
                    width: 20px;
                    height: 20px;
                }

                span {
                    font-family: $font;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 14px;
                    letter-spacing: 0.02em;
                    color: $blue;
                    margin-left: 10px;
                }
            }
            .form-group {
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;
                
                .agreement_check {
                    display: flex;
                    align-items: center;

                    .btn-link {
                        font-family: $font;
                        font-size: 12px;
                        line-height: 15px;
                        text-align: right;
                        letter-spacing: 0.02em;
                        color: $blue;
                        display: block;
                        width: 150px;
                    }
                }

                .row_label {
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 14px;
                    letter-spacing: 0.02em;
                    color: $black;
                    margin-bottom: 5px;
                }

                .form-check {
                    flex-basis: 80%;
                    display: flex;
                    align-items: center;

                    &_box {
                        border: 1px solid $gray;
                        width: 20px;
                        height: 20px;
                        position: absolute;
                        z-index: 99999;
                        background: $white;
                        cursor: pointer;

                        &:after {
                            content: '';
                            height: 9px;
                            width: 6px;
                            background-image: url('/img/icons/arrow_right_black.svg');
                        }
                    }

                    .form-check-label {
                        font-family: $font;
                        font-size: 12px;
                        line-height: 15px;
                        text-align: right;
                        letter-spacing: 0.02em;
                        color: $black;
                        cursor: pointer;
                        margin-left: 10px;
                    }
                    .form-check-input {
                        width: 20px;
                        height: 20px;
                        margin: 0;
                    }
                }

                input {
                    width: 300px;
                    height: 40px;
                    border-radius: 30px;
                    @include input();
                    padding: 0 0 0 10px!important;
                    margin-right: 0;
                }

                span {
                    margin-bottom: 5px;
                    font-family: $font;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 14px;
                    letter-spacing: 0.02em;
                    color: $dblack;
                }
            }
            .form_type {
                display: grid;
                width: 300px;
                grid-template-columns: 1fr 1fr;
                height: 40px;
                align-items: center;
                justify-items: center;
                border: 1px solid;
                border-radius: 30px;

                &-item {
                    display: block;
                    color: $white;
                    cursor: pointer;
                    height: 100%;
                    width: 100%;

                    .form_type-itemText {
                        color: $black;
                        height: 100%;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        span {
                            margin: 0;
                        }

                        &_inner {
                            margin-bottom: 0;
                        }
                    }
                }

                .activeFormItem {
                    background: black;
                    height: 100%;
                    width: 100%;
                    border-bottom-left-radius: 30px;
                    border-top-left-radius: 30px;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    height: 100%;
                    justify-content: center;

                    .form_type-itemText {
                        span {
                            color: $white;
                        }
                    }
                }

            }
        }

        @include breakpoint($medium) {
            width: 300px;
        }
    }

    .card {
        .card-greet {
            font-family: $font;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.02em;
            color: $gray;

            &_text {
                margin: 20px 0;
            }
        }
        .card-header {
            font-family: $font;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            text-transform: uppercase;
            color: $black;
            border-bottom: 1px solid $yellow;
            padding-bottom: 15px;
        }
    }
}