.proceed_btn, .proceed_flat_btn {
    div {
        font-family: $font!important;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.02em;
        color: #40404C;
    }
}
.proceed_btn {
    width: 330px!important;
    height: 40px!important;
}
.proceed_flat_btn {
    width: 330px!important;
    height: 40px!important;
    border: 2px solid $yellow;
    background: #fff!important;
}

.yellow_btn {
    background-color: $yellow!important;
}

.animated_btn {
    transition: box-shadow .2s;

    div {
        user-select: none;
    }

    &:hover {
        box-shadow: 0 0 12px rgba(0,0,0,0.6);
    }
}
.blocked_btn {
    background: $light_gray!important;
}

.animated_btn:active {
    -webkit-animation: shadow_inset .2s;
    animation: shadow_inset .2s;
}

.magic_btn {
    position: relative;
    appearance: none;
    background: $light_gray!important;
    padding: 1em 2em;
    border: none;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 100px;

    span {
        position: relative;
        pointer-events: none;
        z-index: 9999999;
    }

    &::before {
        --size: 0;
        content: '';
        position: absolute;
        left: var(--x);
        top: var(--y);
        width: var(--size);
        height: var(--size);
        background: radial-gradient(circle closest-side, rgba(253,217,53,1), transparent);
        transform: translate(-50%, -50%);
        transition: width .2s ease, height .2s ease;
    }

    &:hover::before {
        --size: 400px;
    }
}
