.btn {
    width: 200px;
    height: 40px;
}

.yellow_btn {
    background: $yellow;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 30px;
    width: 160px;
    padding: 0;

    @include breakpoint($medium) {
        width: 200px;
        height: 40px;
    }

    span {
        font-family: $semifont;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.02em;
        color: $black;
        border-radius: 30px;
        text-transform: uppercase;
        align-items: center;
    }

    img {
        width: 20px;
        margin-right: 10px;
    }
}

.round_btn {
    text-align: center;
    text-transform: uppercase;
    color: black;
    background: $yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    line-height: 14px;
    font-size: 10px;
    width: 30px;
    height: 30px;

    span {
        margin-left: 0;
        margin-right: 2px;
    }

    img {
        width: 15px;
        margin: 0 2px 0 0;
    }
}

.further_btn {
    width: 170px;
    height: 40px;
    background: #fff;
    border: 1px solid $yellow;

    span {
        font-family: $font;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: $black;
        border-radius: 30px;
    }
}

.flat_btn {
    width: 170px;
    height: 40px;
    border: 1px solid #FDD935;
    box-sizing: border-box;
    border-radius: 30px;
    color: $dblack;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;

    span {
        font-family: $semifont;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: $black;
    }
}

.proceed_btn, .proceed_flat_btn {
    width: 330px;
    height: 40px;
    span {
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.02em;
        color: $black;
        text-transform: unset;
    }
}

.proceed_flat_btn {
    background: #fff;
    border: 2px solid $yellow;
}

.animated_btn {
    transition: box-shadow .2s;

    div {
        user-select: none;
    }

    &:hover {
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
    }
}

.disabled_btn {
    background: $light_gray;
    pointer-events: none;
    border: none;

    span {
        color: $dblack;
    }
}

.allcomments_btn {
    width: 270px;
    height: 40px;
    margin: 0 auto 50px auto;
    font-family: $mfont;
}

.animated_btn:active {
    -webkit-animation: shadow_inset .2s;
    animation: shadow_inset .2s;
}

.magic_btn {
    position: relative;
    appearance: none;
    background: $light_gray;
    padding: 0;
    border: none;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 100px;
    min-width: 200px;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
        position: relative;
        pointer-events: none;
        z-index: 9999;
        text-transform: uppercase;
        font-family: $semifont;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.02em;
        color: $dblack;
    }

    &::before {
        --size: 0;
        content: '';
        position: absolute;
        left: var(--x);
        top: var(--y);
        width: var(--size);
        height: var(--size);
        background: radial-gradient(circle closest-side, rgba(253, 217, 53, 1), transparent);
        transform: translate(-50%, -50%);
        transition: width .2s ease, height .2s ease;
    }

    &:hover::before {
        --size: 400px;
    }
}

.text_buy-btn {
    span {
        font-family: $semifont;
    }
}
