.proceed_btn, .proceed_flat_btn {
    div {
        font-family: $font!important;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.02em;
        color: #40404C;
    }
}
.proceed_btn {
    width: 330px!important;
    height: 40px!important;
}
.proceed_flat_btn {
    width: 330px!important;
    height: 40px!important;
    border: 2px solid $yellow;
    background: #fff!important;
}

.yellow_btn {
    background-color: $yellow!important;
}

.animated_btn {
    transition: box-shadow .2s;

    div {
        user-select: none;
    }

    &:hover {
        box-shadow: 0 0 12px rgba(0,0,0,0.6);
    }
}
.blocked_btn {
    background: $light_gray!important;
}

.animated_btn:active {
    -webkit-animation: shadow_inset .2s;
    animation: shadow_inset .2s;
}
