.action_btn {
  background: $yellow;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 30px;
  width: 160px;

  @include breakpoint($medium) {
    height: 40px;
    min-width: 170px;
  }

  &-item, span {
    font-family: $font;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $dblack;
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
}

.further_btn {
    width: 170px;
    height: 40px;
    background: #fff;
    border: 1px solid $yellow;

   div {
        font-family: $font;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: $black;
        border-radius: 30px;
    }
}
