.cart {
  &_wrap {
    max-width: $layoutw;
    margin: 0 auto;
    min-height: 600px;
    overflow: hidden;
    @include breakpoint($phone) {
      margin-bottom: 30px;
    }

    &-crumb {
      width: 100%;
      background: $light_gray;
      display: flex;
      justify-content: space-between;
      padding: 20px 15px;
      border-bottom: 1px solid $light_gray;
      margin-bottom: 20px;

      @include breakpoint($phone) {
        padding: 20px 0;
        width: initial;
        margin-bottom: 30px;
        background: initial;
      }
      &-item {
        font-family: $font;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.02em;
        display: flex;
        align-items: center;
        color: white;
        min-width: 130px;

        @include breakpoint($phone) {
          color: $dblack;
        }

        &:after {
          content: "";
          display: block;
          width: 15px;
          height: 15px;
          @include bg(contain, center);
          margin-left: 10px;
          margin-top: 0;
          background-image: url("/img/icons/arrow_right_white.svg");
          @include breakpoint($phone) {
            background-image: url("/img/icons/arrow_right.svg");
          }
        }
      }
    }
    &-item {
      &_inner {
        &-total {
          padding: 20px;
          border: 1px solid $light_gray;
          margin: 15px;
          @include breakpoint($phone) {
            padding: 0;
            margin: 0;
            border: none;
          }

          &_inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            padding-bottom: 10px;

            @include breakpoint($phone) {
              display: block;
              margin: 0px;
            }
          }
          @include breakpoint($phone) {
            max-width: 270px;
            float: right;
          }
          &_button {
            margin: 0 auto;
            height: 50px;
            cursor: pointer;
            background: $yellow;
            border-radius: 30px;
            @include btnShadow();
            display: flex;
            justify-content: center;
            align-items: center;

            @include breakpoint($phone) {
              max-width: 270px;
              min-width: 270px;
              min-height: 50px;
            }

            &-item {
              text-transform: uppercase;
              font-weight: 500;
              @include breakpoint($phone) {
                font-size: 12px;
              }
            }
          }
          &_inner {
            font-family: $font;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.02em;
            color: $black;
            margin-bottom: 10px;

            &-item {
              &:first-child {
                margin-right: 15px;
              }
              &:nth-child(2) {
                font-family: $font;
                font-style: normal;
                font-size: 24px;
                line-height: 26px;
                text-transform: uppercase;
                color: $black;
                font-weight: 600;
                position: relative;

                &:after {
                  top: 12.5px;
                  background-image: url("/img/icons/rubFat.svg") !important;

                  @include breakpoint($phone) {
                    display: none;
                  }
                }
                @include rub();

                @include breakpoint($phone) {
                  font-size: 18px;
                  line-height: 14px;
                  text-align: right;
                  letter-spacing: 0.02em;
                }
              }
            }
          }
        }
        &-table {
          @include breakpoint($phone) {
            border-bottom: 1px solid $yellow;
            margin-bottom: 40px;
          }
          &_row {
            display: flex;
            flex-direction: column;
            border: 1px solid $light_gray;
            margin: 15px 15px 30px 15px;

            @include breakpoint($phone) {
              padding: 10px;
            }

            &_heading {
              position: absolute;
              top: 10px;
              left: 10px;
              font-family: $font;
              font-style: normal;
              font-weight: 500;
              font-size: 12px;
              line-height: 14px;
              letter-spacing: 0.02em;
              color: $black;
            }

            @include breakpoint($phone) {
              flex-direction: row;
              margin: 0;
              padding: 0;
              border: none;
            }

            &:first-child {
              display: none;
              @include breakpoint($phone) {
                display: flex;
              }
            }

            &:nth-child(2) {
              margin-top: 30px;

              @include breakpoint($phone) {
                margin-top: 0;
              }
            }

            &-col {
              display: flex;
              align-items: center;
              position: relative;
              padding: 15px 10px;
              justify-content: space-between;
              border-bottom: 1px solid $light_gray;

              &:last-child {
                background: $light_gray;
                padding: 20px 10px;

                @include breakpoint($phone) {
                  background: initial;
                }
              }

              &_delete {
                height: 10px;
                width: 10px;
                background-image: url("/img/icons/cart_delete.svg");
                @include bg(contain, center);
                cursor: pointer;
              }

              &:last-child {
                border: none;
              }
              @include breakpoint($phone) {
                padding: 0 0 15px 0;
              }

              .desktop-hide {
                font-family: $font;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0.02em;
                color: $black;
              }

              @include breakpoint($phone) {
                margin: 20px 0 0;
                flex-basis: 20%;
                justify-content: initial;
              }

              &:first-child {
                @include breakpoint($phone) {
                  flex-basis: 60%;
                }
              }

              &_total {
                font-family: $font;
                font-weight: 500;
                font-size: 24px;
                line-height: 100%;
                letter-spacing: 0.02em;
                text-transform: uppercase;
                color: $dblack;
              }
              &_btns {
                border: 1px solid $light_gray;
                border-radius: 30px;
                width: 115px;
                display: flex;
                align-content: center;
                justify-content: center;
                height: 30px;
                max-height: 30px;
                &-btn {
                  display: flex;
                  align-items: center;
                  justify-content: space-around;
                  width: 100%;
                  height: 100%;

                  &-items {
                    span {
                      background: $light_gray;
                      height: 15px;
                      width: 15px;
                      padding: 2px 6px;
                      border-radius: 50%;

                      &:nth-child(2) {
                        margin-left: 5px;
                      }
                    }
                  }
                  &:first-child {
                    font-family: $font;
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 14px;
                    letter-spacing: 0.02em;
                    color: $dblack;
                    border-radius: 30px;
                  }
                }
              }
              &_price {
                width: 100%;
                font-family: $font;
                font-weight: 500;
                font-size: 24px;
                line-height: 100%;
                letter-spacing: 0.02em;
                color: $dblack;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &-item {
                  font-family: $font;
                  text-transform: uppercase;
                  font-style: normal;
                  font-weight: 600;
                  font-size: 18px;
                  line-height: 18px;
                  letter-spacing: 0.02em;
                  color: $dblack;
                  position: relative;
                  margin-right: 15px;
                }

                span {
                  &:first-child {
                    font-family: $font;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 14px;
                    letter-spacing: 0.02em;
                    color: $black;
                  }
                }
              }
              &_img {
                width: 100px;
                height: 100px;
                display: flex;
                align-items: center;
              }
              &_desc {
                flex-basis: 80%;
                margin-left: 30px;

                &:first-child {
                  @include breakpoint($phone) {
                    flex-basis: 60%;
                  }
                }
                &-about {
                }
                &-info {
                  font-family: $font;
                  font-weight: 500;
                  font-size: 24px;
                  line-height: 100%;
                  letter-spacing: 0.02em;
                  text-transform: uppercase;
                  color: $black;
                  margin-bottom: 10px;
                }
                &-head {
                  font-family: $font;
                  font-weight: 500;
                  font-size: 12px;
                  line-height: 14px;
                  letter-spacing: 0.02em;
                  text-transform: uppercase;
                  color: $black;
                  margin-bottom: 10px;
                }
              }
              &-heading {
                font-family: $font;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0.02em;
                color: $black;
              }
            }
          }
        }
        &-heading {
          font-family: $font;
          font-weight: 500;
          font-size: 24px;
          line-height: 100%;
          letter-spacing: 0.02em;
          text-transform: uppercase;
          color: $dblack;
          margin-bottom: 20px;
          display: none;
          @include breakpoint($phone) {
            display: block;
          }
        }
      }
    }
  }
}
