.catalogSwitch {
    position: absolute;
    top: -2.75rem;
    right: 4px;
    display: none;
    align-items: center;
    right: 0;
    width: 200px;
    position: relative;
    float: right;

    @include breakpoint($medium) {
        display: flex;
        justify-content: space-between;
    }

    &_text {
        font-family: $semifont;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.02em;
        color: $black;
    }
    &_wrap {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &_item {
        cursor: pointer;
        display: flex;
        align-items: center;

        &:first-child {
            margin-left: 0;
            margin-right: 5px;
        }

        &-filter, &-list, &-grid {
            width: 18px;
            height: 18px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
        &-filter {
            background-image: url('/images/icons/priceFilter.svg');
        }
    }

    &_arrow {
        width: 12px;
        height: 7px;
        background-size: cover;
        background-position: center;
        background-image: url('/images/sortDropdown/sortDropdown_arr.svg');
        margin: 0 35px 0 10px;
    }
}
    .catalogSwitch_item-active {
        path {
            stroke: #40404C!important;
        }
    }
    .catalogSwitch_item-list {
        margin: 0 20px 0 0;
    }
    .catalogSwitch_item-list, .catalogSwitch_item-grid {
        path {
            stroke: #D4D4D5;
        }
    }

.sortDropdown {
    position:absolute;
    z-index: 999999;
    width: 200px;
    right: 0;
    top: 30px;
    background: #fff;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);

    &_icon {
        width: 10px;
        height: 10px;
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 20px;
    }

    &_item {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        &:hover {
            background: $light_gray;
        }

        &:nth-child(even) {
            .sortDropdown_icon {
                background-image: url('/images/sortDropdown/sortDropdown_asc.svg');
            }
        }
        &:nth-child(odd) {
            .sortDropdown_icon {
                background-image: url('/images/sortDropdown/sortDropdown_desc.svg');
            }
        }
    }

    &_text {
        font-family: Montserrat;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.02em;
        color: #000000;
        padding-left: 20px;
    }
}
