.company {
    &_table {
        &_item {
            span {
                &:nth-child(2) {
                    font-family: $semifont;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 20px;
                    letter-spacing: 0.02em;
                    color: $dblack;
                }
            }
        }
        &_inner {
            border-bottom: 1px solid $yellow;
        }
        &_item {
            display: grid;
            grid-template-columns: 200px 470px;
            align-items: center;
            border-bottom: 1px solid $light_gray;
            min-height: 40px;
            padding: 10px;

            font-family: $font;
            font-size: 12px;
            line-height: 20px;
            letter-spacing: 0.02em;
            color: #292930;

            &:last-child {
                border: none;
            }
        }
    }
    &_header {
        font-family: $semifont;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.02em;
        color: $dblack;
        display: inline-block;
        padding-bottom: 10px;
        border-bottom: 1px solid $yellow;
    }

    &_input {
        height: 40px;
        width: 220px;
        padding-left: 20px;
        outline: none;
    }
    &_head {
        &_item {
            font-family: $semifont;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            color: $dblack;
            margin-bottom: 30px;
        }
    }
    &_inputs {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        margin-bottom: 30px;

        &_items {
            &_label {
                display: flex;
                margin-bottom: 10px;
                font-family: $semifont;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0.02em;
                color: $dblack;

                span {
                    color: $ruby;
                    margin-left: 5px;
                }
            }
        }
    }
}
