.header {
  display: none;
  font-family: $semifont;
  font-weight: 600;
  background-color: $dblack;

  @include breakpoint($medium) {
    display: block;
  }

  &_wrapper {
    max-width: 1170px;
    height: 60px;
    margin: 0 auto;
    @include flex(center, space-between, wrap);

    @include breakpoint($medium) {
      margin-left: 10px;
      justify-content: flex-start;
    }

   @include  breakpoint(1180px) {
      margin: 0 auto;
   }

    &-item {
     &:nth-child(1) {
        margin-right: 86px;
     }

      &_contacts {
        display: none;
        position: relative;

          @include breakpoint(1180px) {
              display: flex;
              align-items: center;
          }

        &-icon {
          width: 15px;
          height: 15px;
          margin-right: 11px;
        }

        &-tel {
            font-family: $font;
            font-size: 18px;
            line-height: 14px;
            text-align: right;
            letter-spacing: 0.02em;
            color: white;

            &:hover {
                color: #fff;
            }
        }
      }
      &_logo {
        width: 130px;
        height: 50px;
        display: table-cell;
        vertical-align: middle;

        &-item {
          margin: 0;
          padding: 0;
        }
      }
      &_menu {
        list-style: none;
        @include flex(center, space-between, wrap);
        position: relative;
        margin: 0;
        padding: 0;

        &-item {
          margin-right: 40px;
          font-weight: 600;
          font-size: 12px;
          line-height: 14px;
          letter-spacing: 0.02em;
          color: $white;
          @include flex(center, space-between, no-wrap);
          cursor: pointer;
          position: relative;
          margin-bottom: 0;

            &:last-child {
                margin-right: 78px;
            }

          a {
              color: #fff!important;
          }

          &:nth-child(2):hover {
            .header_wrapper-item_menu-item-secondary {
              visibility: visible;
            }
          }

          &:nth-child(2) {
            a {
                @include smenu_underline(116%, -22px);
                //safari
                @media not all and (min-resolution:.001dpcm) {
                    @include smenu_underline(106.6%, -15px);
                }
            }
          }

          a {
            color: $white;
            @include menu_underline();

            &:hover {
              text-decoration: none;
              color: $white;
            }
          }

          &-secondary {
            position: absolute;
            top: 32px;
            margin: 0;
            background: #fff;
            width: 130px;
            list-style: none;
            padding: 0;
            left: -22px;
            visibility: hidden;
            transition: visibility $transition;
            font-weight: 300;
            font-family: $font;
            z-index: 99999999;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);

            @media not all and (min-resolution: 0.001dpcm) {
              left: -15px!important;
            }

            &_item {
              color: $black!important;

              &:hover::before {
                display: none;
              }
            }

            li {
              padding: 13px;
              font-size: 12px;
              line-height: 14px;
              font-weight: 300;
              letter-spacing: 0.02em;
              color: black;

              &:hover {
                background: $black;
                color: $white;
              }
            }
          }
        }


        &-item {
            &:last-child:after {
                display: none;
            }
        }
      }
    }
  }
}
