.hits_hero {
  width: $layoutw;
  margin: 0 auto;
  margin-bottom: 60px;
  padding-top: 50px;

  &-wrap {
    width: 100%;
    max-width: 828px;
    height: 414px;
    margin: 0 auto;
    @include bg(cover, center);
    background-repeat: no-repeat;
  }
}

.hits_desc {
  width: 100%;
  max-width: $layoutw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 64px;
  margin-bottom: 50px;

  &-item {
      display: flex;
      position: relative;

      &:last-child:after {
          display: none;
      }

      &:after {
          content: '';
          display: block;
          height: 100%;
          border-right: 1px solid $gray;
          width: 1px;
          position: absolute;
          right: -32px;
      }
    &_txt {
      font-family: $font;
      font-size: 12px;
      line-height: 20px;
      text-align: justify;
      letter-spacing: 0.02em;
      color: $dblack;
    }
  }
}

.hits-recs-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 170px;
  margin: 0 auto;
  max-width: $layoutw;
  margin-bottom: 40px;

  &_item {
      &:first-child:after {
          content: '';
          display: block;
          height: 100%;
          width: 1px;
          position: absolute;
          right: -85px;
          top: 0;
          background: $gray;
      }
      &:first-child {
         position: relative;
      }
    &-inner {
      display: flex;
      flex-direction: column;

      &-heading {
        font-family: $semifont;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        text-align: justify;
        letter-spacing: 0.02em;
        color: $dblack;
        margin-bottom: 30px;
      }

      &-txt {
        font-family: $font;
        font-style: normal;
        font-size: 12px;
        line-height: 20px;
        text-align: justify;
        letter-spacing: 0.02em;
        color: $dblack;
      }
    }
  }
}
.hits_recs {
  width: $layoutw;
  background: $light_gray;
  margin: 0 auto;
  padding: 16px 30px 25px 30px;
  padding-bottom: 10px;
  margin-bottom: 50px;

  &-item {
    .second-hits_recs-row {
      .hits_recs-item_inner-item {
        &:first-child {
            background: $light_gray;
            color: #40404C;
        }
        &:nth-child(2) {
          border-top-right-radius: 30px;
          border-bottom-right-radius: 30px;
          background: $black;
          color: $white;
        }
      }
    }
    .hits_recs-row {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px !important;
      &:nth-child(2) {
        .hits_recs-item_inner-item {
          min-width: 150px;
        }
      }
    }
    &_inner {
      font-family: $font;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      letter-spacing: 0.02em;
      color: $dblack;
      margin-bottom: 20px;

      &:first-child {
        margin-bottom: 25px;
      }

      &-item {
        border: 1px solid $black;
        padding: 7px 20px;
        font-family: $font;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        display: flex;
        align-items: flex-end;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        min-width: 130px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:first-child {
          border-right: 0;
          border-top-left-radius: 30px;
          border-bottom-left-radius: 30px;
          background: $black;
          color: $white;
        }
        &:nth-child(3) {
          border-left: 0;
          border-top-right-radius: 30px;
          border-bottom-right-radius: 30px;
        }
      }
    }
  }
}

.hits-items {
  width: $layoutw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 50px;


  &_column {
    display: flex;
    flex-direction: column;
    border-right: 1px solid $light_gray;
    border-top: 1px solid $light_gray;
    border-bottom: 1px solid $light_gray;

    &:first-child {
      border-left: 1px solid $light_gray;
    }

    &:nth-child(2), &:nth-child(3) {
      .hits-items_column-item {
          .hits-items_column-item-text {
              font-family: $semifont;
          }
      }
    }

    &:nth-child(2) {
      .hits-items_column-item {
        &:nth-child(2) {
          .hits-items_column-item-image {
            height: 100%;
            @include bg(contain, center);
            background-repeat: no-repeat;
            background-image: url("/img/hits/hits_printer.svg");
          }
        }
      }
    }

    &:nth-child(3) {
      .hits-items_column-item {
        &:nth-child(2) {
          .hits-items_column-item-image {
            @include bg(contain, center);
            height: 100%;
            background-repeat: no-repeat;
            background-image: url("/img/hits/hits_printer2.svg");
          }
        }
      }
    }

    &-item {
      padding: 10px 40px;
      border-bottom: 1px solid $light_gray;

    &:first-child {
        border-bottom: none;
    }

      &:first-child {
        height: 90px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
      }
      &:last-child {
        border: none;
      }
      &-text {
        font-family: $font;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.02em;
        color: $dblack;
      }

      &:nth-child(2) {
        height: 215px;
        margin-bottom: 50px;
        border: none;
      }
      &-heading {
        font-family: $semifont;
        font-weight: bold;
        font-size: 36px;
        line-height: 100%;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: $blue;

        &-small {
          font-family: $semifont;
          font-weight: 600;
          font-size: 12px;
          line-height: 14px;
          letter-spacing: 0.02em;
          color: $dblack;
          display: block;
          margin-bottom: 17px;
        }
        &-big {
          display: block;
          font-family: $font;
          font-weight: 500;
          font-size: 24px;
          line-height: 100%;
          letter-spacing: 0.02em;
          text-transform: uppercase;
          color: $dblack;
        }
        &-strong {
          font-family: $semifont;
          font-weight: bold;
          font-size: 36px;
          line-height: 100%;
          letter-spacing: -0.02em;
          text-transform: uppercase;
          color:#40404C;
        }
      }
    }
  }
}
