.info {
  @include breakpoint($phone) {
    width: $layoutw;
    margin: 0 auto;
  }
  .info_menu {
    @include breakpoint($phone) {
      max-width: 400px;
    }
    &-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 30px 15px 20px 15px;

      @include breakpoint($phone) {
        margin-left: 0;
      }

      .info_active {
        background: $black !important;
        .info_menu-wrap_item-text {
          color: $white;
        }
      }
      &_item {
        max-height: 40px;
        cursor: pointer;
        flex-basis: 50%;

        &:first-child {
          border-radius: 30px 0 0 30px;
          padding: 13px 10px;
          border: 1px solid $light_gray;
          border-right: none;
          text-align: center;

          .info_menu-wrap_item-text {
            display: inline-block;
          }
        }
        &:nth-child(2) {
          border-radius: 0 30px 30px 0;
          padding: 13px 10px;
          border: 1px solid $light_gray;
          text-align: center;

          .info_menu-wrap_item-text {
            display: inline-block;
          }
        }

        &-text {
          font-family: $font;
          font-size: 12px;
          line-height: 14px;
          display: flex;
          align-items: flex-end;
          letter-spacing: 0.02em;
          color: $dblack;
        }
      }
    }
  }

  .info_content {
    &-item {
      display: flex;
      padding: 20px 20px 0 10px;
      border-bottom: 1px solid $yellow;
      outline: none;

      &:last-child {
        border: none;
      }
      &_inner {
        padding-bottom: 70px;

        &:nth-child(2) {
          margin-left: 10px;
        }

        &-icon {
          @include bg(contain, center);
          position: relative;
          top: -13px;

          img {
            min-height: 40px;
            min-width: 40px;
          }
        }
        &-heading {
          font-family: $semifont;
          font-weight: 500;
          font-size: 12px;
          line-height: 14px;
          letter-spacing: 0.02em;
          text-transform: uppercase;
          color: $dblack;
          margin-bottom: 20px;
        }
        &-desc {
          font-family: $font;
          font-size: 14px;
          line-height: 20px;
          text-align: justify;
          letter-spacing: 0.02em;
          color: $dblack;
          margin-bottom: 20px;
        }

        &-text {
          font-family: $font;
          font-size: 14px;
          line-height: 20px;
          text-align: justify;
          letter-spacing: 0.02em;
          color: $dblack;
        }
      }
    }
  }
}
