.columns {
  @include breakpoint($phone) {
    width: 100%;
    max-width: $layoutw;
    margin: 0 auto;
    display: flex;
  }
  .left_column, .main_column {
    width: 100%;
  }
  .left_column {
    display: none;
    width: 100%;

    @include breakpoint($phone) {
      max-width: 270px;
      margin-right: 10px;
    }

    @include breakpoint(1200px) {
      display: block;
    }
  }
  .main_column {
    max-width: 870px;
    margin: 0 auto;

    @include breakpoint(1200px) {
      margin-left: 30px;
    }
  }
}
.catalog_columns {
  overflow: hidden;

  @include  breakpoint($medium) {
    padding-top: 20px;
  }
}

.mobile-layout {
  @include breakpoint($phone) {
    display: none;
  }
}
.desktop-layout {
  //display: none;
  @include breakpoint($phone) {
    display: flex;
  }
}
.main {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;

  @include breakpoint($medium) {
    grid-template-columns: 1fr 1fr;
  }

  .container, .card-body {
    width: 585px;
    margin: 0 auto;
  }
  .auth-pick {
    border-radius: 30px;
    border: 1px solid $gray!important;
    position: absolute;
    left: 47.8%;
    border: 1px solid;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    display: none;

    @include breakpoint($medium) {
      display: flex;
    }

    &_item {
      font-family: $font;
      font-size: 12px;
      line-height: 15px;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.02em;
      color: $black;
      margin-bottom: 2px;
    }
  }
  .auth-decor {
    position: absolute;
    height: 474px;
    width: 1px;
    background: $gray;
    left: 50%;
    top: 38px;
    display: none;

    @include breakpoint($medium) {
      display: block;
    }
  }
}
