.news {
  position: relative;
  //safari
  @media not all and (min-resolution: 0.001dpcm) {
    padding-top: 0;
  }
  @include breakpoint($phone) {
    display: block;
    margin-bottom: 50px;
    padding-top: 0;
  }

  &_wrapper {
    overflow-y: scroll;
    position: relative;

    @include breakpoint($phone) {
      padding-right: 20px;
      max-height: 378px;
    }

    &::-webkit-scrollbar {
      display: none;
      @include breakpoint($phone) {
        display: block;
        background-color: $light_gray;
        width: 2px;
      }
    }

    &::-webkit-scrollbar-thumb {
      background: $purple;
    }

    &-heading {
      font-family: $font;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.02em;
      color: $dblack;
      height: 30px;
      position: absolute;
      z-index: 99;
      left: 16px;
      width: 100%;
      background: #fff;
      border-bottom: 1px solid #fdd935;

      @include breakpoint($phone) {
        left: 0;
      }

      span {
        font-family: $font;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.02em;
        color: $dblack;
      }
    }
    &-block {
      display: flex;
      overflow-x: scroll;
      overflow-y: hidden;
      padding-top: 50px;

      @include breakpoint($phone) {
        flex-direction: column;
        overflow-x: hidden;
      }

      &::-webkit-scrollbar {
        display: none;
        @include breakpoint($phone) {
          display: block;
        }
        background-color: $gray;
        width: 2px;
      }
      &::-webkit-scrollbar-thumb {
        background: $purple;
      }

      &-item {
        max-width: 250px;
        height: 90px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $light_gray;
        padding: 10px;
        margin-bottom: 10px;
        margin-right: 10px;

        &:first-child {
          margin-left: 32px;
          @include breakpoint($phone) {
            margin-left: 0;
          }
        }
        &:last-child {
          margin-right: 20px;
          @include breakpoint($phone) {
            margin-right: 0;
          }
        }
        &:last-child:after {
          display: none;
        }

        @include breakpoint($phone) {
          margin-right: 0;
          margin-bottom: 28px;

          &:after {
            content: '';
            display: block;
            border-bottom: 1px solid $gray;
            width: 50%;
            position: absolute;
            bottom: -14px;
            left: 0;
          }
        }

        &_image {
          width: 100px;
          height: 80px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $light_gray;

          &-inner {
            @include bg(contain, center);
            img {
                height: 100%!important;
                width: 100%!important;
                object-fit: cover;
            }
          }
        }
        &_inner {
          @include breakpoint($phone) {
            height: 86%;
            flex-basis: 56%;
            flex-direction: column;
            justify-content: space-between;
            display: flex;
            justify-content: space-between;
          }
          &-item {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-basis: 60%;
            padding-right: 10px;

            &-heading {
              font-family: $font;
              font-weight: 500;
              text-transform: uppercase;
              color: $dblack;
              span {
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0.02em;
              }
            }
          }
          &-button {
            border-radius: 30px;
            width: 100px;
            height: 20px;
            border: 1px solid $blue;
            box-sizing: border-box;
            border-radius: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            span {
              font-family: $font;
              font-size: 12px;
              line-height: 14px;
              letter-spacing: 0.02em;
              color: $blue;
              display: block!important;
            }
          }
        }
      }
    }
  }
}
