.pagination {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    position: absolute;

    .active {
        background: $yellow;
        border: 1px solid $yellow!important;
        cursor: pointer;
        pointer-events: none;
    }

    li {
        &:first-child, &:last-child {
            display: none;
        }
    }
}

.vue-ads-flex-grow {
    position: absolute;
    right: 0;
    bottom: -66px;
}
.hover\:vue-ads-bg-gray-100:hover {
    background-color: #fff!important;
}
.vue-ads-bg-teal-500 {
    background-color: $yellow!important;
}
[title="previous"],[title="next"] {
    display: none!important;
}
