.postList {
    max-width: $layoutw;
    margin: 0 auto;
    &_posted {
        display: flex;
        align-items: flex-end;
        padding-left: 25px;
        position: relative;

        &:after {
            content: '';
            display: block;
            height: 100%;
            width: 1px;
            background: $light_gray;
            position: absolute;
            top: 10px;
            left: -25px;
        }

        &_author {
            font-family: $font;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 20px;
            text-align: justify;
            letter-spacing: 0.02em;
            color: $dblack;
        }
        &_date {
            font-family: $font;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 18px;
            text-align: justify;
            letter-spacing: 0.02em;
            color: $dblack;
            margin-left: 10px;
        }
    }

    &_item {
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid $light_gray;

        img {
            object-fit: cover;
        }
    }

    &_cat {
        font-family: $font;
        display: inline-block;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        text-align: justify;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #292930;
        border-bottom: 1px solid $yellow;
        padding-bottom: 5px;
        margin-bottom: 10px;
        margin-left: 70px;
    }

    &_head {
        font-family: $semifont;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: $dblack;
        margin-bottom: 10px;
        margin-left: 70px;
    }

    &_like, &_dislike, &_comment, &_share {
        display: flex;
        align-items: center;

        &_icon {
            height: 20px;
            width: 20px;
            cursor: pointer;
        }
        &_val {
            font-family: $font;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            text-align: justify;
            letter-spacing: 0.02em;
            color: $gray;
            margin: 0 10px;
        }
    }

    &_like {
        &_icon {
            background-image: url('/images/icons/likeGray.svg');
        }
    }

    &_dislike {
        &_icon {
            background-image: url('/images/icons/dislikeGray.svg');
        }
    }

    &_comment {
        &_icon {
            background-image: url('/images/icons/CommentsGray.svg');
        }
    }

    &_share {
        &_icon {
            background-image: url('/images/icons/shares.svg');
        }
    }

    &_btns {
        display: flex;
        justify-content: space-between;
        margin: 0 70px;

        &_inner {
            display: flex;
            align-items: flex-end;
        }

        &_actions {
            display: flex;
            margin-left: 30px;
            grid-gap: 10px;
        }
    }

    &_description {
        span {
            margin: 20px 50px 25px 50px;
            font-family: $font;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 20px;
            text-align: justify;
            letter-spacing: 0.02em;
            color: $dblack;
        }
    }
}
