.details {

  @include breakpoint($phone) {
    margin-bottom: 60px;
  }

  &_wrapper {
    width: 100%;
    overflow-x: hidden;
    
    &-item {
      &_product {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        position: relative;

        @include breakpoint($phone) {
          flex-direction: row;
          overflow: hidden;
        }

        &-item {
          &:nth-child(2) {
            margin-left: 70px;
          }
          &_images {
            width: 600px;
            height: 450px;
            display: none;

            @include breakpoint($phone) {
              display: block;
            }
          }
          &_info {
            max-width: 500px;
            margin-top: 20px;

            &-heading {
              margin-bottom: 10px;

              @include breakpoint($phone) {
                // margin: 0 0 25px 0;
              }

              &-item {
                font-family: $font;
                font-weight: 600;
                font-size: 18px;
                line-height: 18px;
                letter-spacing: 0.02em;
                color: $dblack;
              }
            }
            &-subheading {
              @include breakpoint($phone) {
                // margin: 0;
              }

              &-item {
                font-family: $font;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0.02em;
                color: $dblack;
              }
            }
            &-props {
              margin-top: 190px;
              
              @include breakpoint($phone) {
                margin-top: initial;
              }
              
              display: flex;
              align-items: center;
              justify-content: center;

              &-color,
              &-chip,
              &-new,
              &-standart {
                @include bg(cover, center);
                width: 50px;
                height: 50px;
                margin: 20px 10px;

                @include breakpoint($phone) {
                  margin: 25px 15px;
                }
              }
              &-color {
                background-image: url("/img/product_details/color.svg");
              }
              &-chip {
                background-image: url("/img/product_details/chip.svg");
              }
              &-new {
                background-image: url("/img/product_details/new.svg");
              }
              &-standart {
                background-image: url("/img/product_details/standart.svg");
              }
            }
            &-amount {
              flex-direction: column;
              @include breakpoint($phone) {
                flex-direction: row;
              }
              &-item {
                margin-bottom: 10px;
                margin-right: 0 !important;
                border: 1px solid $light_gray;
                padding: 10px 20px;

                @include breakpoint($phone) {
                  margin-right: 0;
                  border: none;
                }
              }
            }
            &-discount {
              &-item {
                border: 1px solid $light_gray;
                padding: 10px 20px;
                display: flex;
                align-items: center;
                &-text {
                  margin-bottom: 0 !important;
                }
                @include breakpoint($phone) {
                  display: block;
                  margin-bottom: 5px !important;
                  border: none;
                }
              }
            }
            &-desc,
            &-info,
            &-text,
            &-amount {
              font-size: 9px;
              line-height: 14px;

              @include breakpoint($phone) {
                font-size: 12px;
                line-height: 20px;
              }

              font-family: $font;
              letter-spacing: 0.02em;
              color: $dblack;
            }
            &-info {
              margin-bottom: 15px;
            }
            &-text {
              margin-bottom: 15px;
            }

            &-actions {
              display: flex;
              align-items: center;
              flex-direction: column;
              border-bottom: 1px solid $yellow;
              padding-bottom: 30px;

              @include breakpoint($phone) {
                flex-direction: row;
                padding-bottom: 0;
                align-items: flex-end;
                border: none;
              }

              &-item {
                display: flex;
                align-items: center;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                margin-bottom: 5px;
                width: 100%;
                justify-content: center;

                @include breakpoint($phone) {
                  display: block;
                  margin-bottom: 0;
                  width: initial;
                }

                &-text {
                  margin-right: 10px;
                  @include breakpoint($phone) {
                    margin-right: 0;
                  }
                }

                &:nth-child(2) {
                  width: 323px;
                  height: 50px;
                  background: $yellow;
                  border-radius: 30px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  margin-bottom: 10px;
                  cursor: pointer;
                  font-size: $btn_fs;
                  box-shadow: $button_shadow;

                  @include breakpoint($phone) {
                    margin-left: 25px;
                    width: 200px;
                    height: 42px;
                  }

                  .details_wrapper-item_product-item_info-actions-item_text {
                    display: flex;
                    align-items: center;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 14px;
                    letter-spacing: 0.02em;
                    text-transform: uppercase;
                    color: $dblack;
                    border-radius: 30px;
                    @include breakpoint($phone) {
                      font-size: 12px;
                    }

                  }
                  .details_wrapper-item_product-item_info-actions-item_text:before {
                    content: "";
                    display: block;
                    width: 20px;
                    height: 20px;
                    background-image: url("/img/menu/cart.svg");
                    @include bg(contain, center);
                    margin-right: 10px;
                  }
                }
                &-button {
                  display: flex;
                  width: 115px;
                  height: 30px;
                  padding: 5px;
                  border: 1px solid $light_gray;
                  border-radius: 30px;
                  margin: 10px 0;
                  align-items: center;
                  color: black;
                  justify-content: space-around;

                  &-buttons {
                    display: flex;

                    &-plus,
                    &-min {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 15px;
                        width: 15px;
                        border-radius: 50%;
                        border: 1px solid $light_gray;
                        color: black;
                        cursor: pointer;
                    }
                    &-plus {
                      @include breakpoint($phone) {
                        margin-right: 10px;
                      }
                    }
                    &-min {
                      @include breakpoint($phone) {
                        padding-top: 1px;
                      }
                    }
                  }
                }
              }

              &-button {
                padding: 20px;
                margin: 10px;
                border: 1px solid $light_gray;
              }
            }

            &-amount {
              display: flex;
              align-items: center;
              margin-bottom: 5px;

              @include breakpoint($phone) {
                margin-bottom: 40px;
              }

              .details_wrapper-item_product-item_info-discount-item {
                &-price {
                  font-family: $font;
                  font-weight: 500;
                  font-size: 12px;
                  line-height: 14px;
                  letter-spacing: 0.02em;
                  text-transform: uppercase;
                  color: $blue;
                  display: flex;
                  align-items: flex-end;

                  &:after {
                    content: "";
                    display: block;
                    width: 10px;
                    height: 8px;
                    @include bg(contain, center);
                    background-image: url("/img/icons/rub.svg");
                  }
                }
                &-text {
                  margin-bottom: 5px;
                  font-family: $font;
                  font-size: 10px;
                  line-height: 14px;
                  letter-spacing: 0.02em;
                  color: $dblack;
                  display: flex;

                  &:after {
                    width: 10px;
                    height: 10px;
                    content: "";
                    display: block;
                    @include bg(contain, center);
                    background-image: url("/img/icons/info.svg");
                    margin-left: 2px;
                  }
                }
              }
              &-item {
                margin-right: 50px;

                &-text_item {
                  font-family: $font;
                  font-size: 9px;
                  line-height: 14px;
                  letter-spacing: 0.02em;
                  color: $black;
                  align-items: center;
                  align-items: center;
                  margin-bottom: 5px;
                  display: none;

                  @include breakpoint($phone) {
                    display: flex;
                  }

                  &:before {
                    content: "";
                    display: block;
                    width: 10px;
                    height: 8px;
                    background-image: url("/img/icons/ok.svg");
                    @include bg(cover, center);
                    margin-right: 5px;
                  }
                }

                &-price {
                  font-weight: 600;
                  font-size: 36px;
                  line-height: 100%;
                  letter-spacing: -0.02em;
                  text-transform: uppercase;
                  font-family: $font;
                  color: $blue;
                  display: flex;
                  align-items: flex-end;

                  @include breakpoint($phone) {
                    font-size: 24px;
                    line-height: 26px;
                  }

                  &:after {
                    content: "";
                    display: block;
                    width: 10px;
                    height: 14px;
                    @include bg(contain, center);
                    background-image: url("/img/icons/rub.svg");
                    margin-left: 5px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
