.sales {
  height: 180px;
  margin-bottom: 30px;
  display: none;

  @include  breakpoint($phone) {
    height: initial;
    display: block;
    margin-bottom: 10px;
  }

  @include breakpoint($medium) {
    width: 869px;
    margin-bottom: 10px;
  }

    &_slider {
      max-height: 360px;
      min-height: 360px!important;

        .swiper-wrapper {
            .swiper-slide {
                width: 100%;
            }
        }
    }

    &-wrapper {
      height: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      border-left: 1px solid $yellow;
      max-height: 180px!important;
      margin: 6px 16px 0 16px;

      @include  breakpoint($phone) {
        border-left: none;
        max-height: initial!important;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
      }

      @include breakpoint($medium) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        margin: initial;
      }

      &_item {
        background: $yellow;
        box-shadow: $card_shadow;
        width: 100%;
        margin-bottom: 10px;

        &:nth-child(1) {
          @include breakpoint($phone) {
            //margin-bottom: 18px;
          }
        }

        @include breakpoint($medium) {
          //width: 430px;
          height: 180px;
        }

        &-inner {
          padding: 10px;
          display: flex;
          align-items: center;

            &_image {
              width: 160px;
              height: 160px;
              @include bg(cover, center);
            }
            &_info {
              font-family: $font;
              font-style: normal;
              font-weight: normal;
              margin-left: 30px;

              &-text {
                font-weight: 600;
                font-size: 18px;
                line-height: 18px;
                letter-spacing: 0.02em;
                text-transform: uppercase;
                color: $dblack;
                margin-bottom: 20px;
                span {
                  &:nth-child(2) {
                  }
                }
              }
              &-desc {
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0.02em;
                color: $dblack;
                margin-bottom: 20px;
              }
              &-button {
                width: 200px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid $dblack;
                box-sizing: border-box;
                box-shadow: $button_shadow;
                border-radius: 30px;
                color: $blue;
                cursor: pointer;
                font-size: $btn_fs;

                font-family: $font;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                display: flex;
                align-items: center;
                text-align: center;
                letter-spacing: 0.02em;
                text-transform: uppercase;
                color: $dblack;
              }
            }
        }
      }
    }
}

.sales_swiper {
  overflow: hidden!important;
  height: 100%;
  margin: 0 10px;

  @include  breakpoint($medium) {
    height: 360px;
    margin: 0px;
  }
  .swiper-pagination {
    display: none!important;
  }
  .swiper-wrapper {
      img {
        object-fit: contain;
        object-position: center;
        width: 100%;
      }
  }
  .swiper-button-prev,
  .swiper-button-next
   {
    width: 7.4px!important;
    height: 12px!important;
    margin-top: 0;
    top: 50%!important;
  }
  .swiper-button-next {
      right: 0!important;
  }
  .swiper-button-prev {
    left: -1.3%!important;
  }
}
