.sales_mob {
    @include breakpoint($phone) {
        display: none;
    }
    &-wrap {
        @include bg(contain, center);
        background-image: url('/img/sales_best/sales.png');
        height: 100%;
        max-height: 200px;
        margin: 0 10px 0 8px;
    }
}