.sales_eco {
  //display: none;
  width: 100%;
  margin-bottom: 15px;
  height: 173px;

  @include breakpoint($phone) {
    height: 400px;
    display: block;
    margin-bottom: 20px;
  }

  &-wrapper {
    height: 100%;
    @include bg(contain, center);
    cursor: pointer;
    background-size: cover;
    margin: 0 16px;
    background-image: url(/images/sales/turtle.png);

   &_item {
     &-head {

     }
   }
  }
}