.sales_best {
  width: 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 100%;
  max-height: 214px;
  background-size: contain;

  @include breakpoint($phone) {
    max-height: 195px;
    width: 857px;
    background-image: none;
    max-height: 368px;
    margin-bottom: 80px;
  }

  &-wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;

    display: none;

    @include breakpoint($phone) {
      display: flex;
    }

    &_item {
      width: 100%;

      &:first-child {
        display: none;
        @include breakpoint($phone) {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
        }
      }

      &-decor {
        @include bg(contain, center);
        height: 50px;
        margin-top: 30px;
        width: 100%;
        margin-bottom: 50px;

        display: flex;
        align-items: center;
        justify-content: center;
        img {
          object-fit: contain;
        }
      }
      &:first-child {
        width: 75px;
        height: 100%;
      }
      &-content {
        &_inner {
          display: flex;
          padding-top: 35px;

          &-text {
            max-width: 300px;

            &-cta {
              width: 200px;
              height: 40px;
              background: $yellow;
              @include flex(center, center, no-wrap);
              border-radius: 30px;
              cursor: pointer;
              @include btnShadow();

              span {
                font-family: $font;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                display: flex;
                align-items: center;
                text-align: center;
                letter-spacing: 0.02em;
                text-transform: uppercase;
                color: $dblack;
              }
            }
            &-description {
              font-family: $font;
              font-size: 12px;
              line-height: 20px;
              letter-spacing: 0.02em;
              color: $dblack;
              margin-bottom: 35px;
              text-align: left;
            }
            &-heading {
              font-family: $font;
              font-weight: 600;
              font-size: 24px;
              line-height: 26px;
              text-transform: uppercase;
              margin-bottom: 25px;
              text-align: left;

              span {
                &:nth-child(2) {
                  color: $blue;
                }
              }
            }
          }
          &-image {
            width: 470px;
            height: 310px;
            margin-left: 35px;
            @include bg(cover, center);
          }
        }
        &_heading {
          font-family: $font;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 14px;
          display: flex;
          align-items: flex-end;
          letter-spacing: 0.02em;
          color: $dblack;
          position: relative;

          &:after {
            content: "";
            width: 100%;
            position: absolute;
            border-bottom: 2px solid $yellow;
            top: 20px;
          }
        }
      }
    }
  }
}
