.sres {
    &_color {
        width: 15px;
        height: 15px;
        background-color: black;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    &_wrap {
        width: 100vw;
        max-width: 970px;
        background-color: white;
        position: absolute;
        top: 40px;
        left: -20px;
        z-index: 999999;

        &:after {
            content: "";
            width: 100%;
            height: 4px;
            display: block;
            position: absolute;
            background: linear-gradient(90deg, #d935fd 19.91%, #3559fd 100%);
            left: 0;
            top: 0;
        }
    }
    &_head {
        display: grid;
        grid-template-columns: 70px 130px 1fr;
        height: 40px;
        background-color: $light_gray;
        align-items: center;

        &_item {
            margin-left: 17px;
            height: 100%;
            border-right: 1px solid #fff;
            font-family: $semifont;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            color: $dblack;
            display: flex;
            align-items: center;
        }
    }

    &_item {
        display: grid;
        grid-template-columns: 70px 130px 1fr;
    }

    &_col {
        min-height: 40px;
        display: grid;
        grid-template-columns: 200px 1fr;
        position: relative;

        &_item {
            margin: 15px 0 15px 17px;
        }
    }
}

.sres_color {
    margin: 0;
}
