.products_grid {
  display: grid;
  grid-template-columns: 1fr;
  @include breakpoint($phone) {
    margin-left: 10px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.product {
  border: 1px solid $light_gray;
  min-width: 270px;
  margin: 0 10px 10px 10px;

  @include breakpoint($phone) {
    margin: 0 10px 20px 10px;
  }

  & a:hover {
    text-decoration: none;
  }

  &_wrapper {
    display: flex;
    position: relative;
    padding: 10px;

    @include breakpoint($phone) {
      display: block;
      padding: 20px;
    }

    &-item {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      overflow: hidden;
      cursor: pointer;
      padding-top: 30px;
   

      &:first-child {
        position: absolute;
        z-index: 2;
        padding-top: 0;

        @include breakpoint($phone) {
          position: relative;
        }
      }
      &:nth-child(2) {
        flex-basis: 100%;
        @include breakpoint($phone) {
          padding-top: 0;
        }
      }
      &:nth-child(3) {
        display: flex;
        flex-direction: column;
        flex-basis: 70%;
        align-items: flex-start;
        justify-content: center;
        padding-top: 5px;
        margin-left: 20px!important;
        
        @include breakpoint($phone) {
          margin-left: 0px!important;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding-top: 0;
        }
      }

      &:hover .product_wrapper-item_overlay {
        bottom: 0;
      }

      &:last-child {
        margin: 0;
      }

      &_heading {
        font-family: $font;
        font-weight: 600;
        font-size: 18px;
        line-height: 18px;
        letter-spacing: 0.02em;
        color: $dblack;
        display: none;
        @include breakpoint($phone) {
          display: block;
        }
      }
      &_amount {
        font-family: $font;
        font-size: 9px;
        line-height: 14px;
        letter-spacing: 0.02em;
        color:$black;
        display: flex;
        align-items: center;

        img {
          width: 10px;
          height: 10px;
          margin-right: 10px;
        }
      }
      &_image2 {
        background-image: url("/img/unnecessary/product2.png") !important;
      }
      &_image {
        background-image: url("/img/unnecessary/product1.png");
        @include bg(contain, center);
        width: 177px;
        height: 100px;
        margin: 0 auto;
        @include breakpoint($medium) {
          height: initial;
        }
        
        img {
          width: 177px;
        }
      }
      &_overlay {
        width: 100%;
        position: absolute;
        bottom: -100px;
        background: rgba(255, 255, 255, 0.7);
        @include btnShadow();
        padding: 20px 0;
        transition: bottom $transition;
        @include breakpoint($phone) {
          max-width: 270px;
        }

        
        &_wrapper {
          &-item {
            text-align: center;
            &_text {
              font-family: $font;
              font-size: 12px;
              line-height: 14px;
              letter-spacing: 0.02em;
              color: rgba(41, 41, 48, 0.7);
            }
          }
        }
      }
      &_price {
        font-family: $font;
        font-weight: 500;
        font-size: 24px;
        line-height: 26px;
        text-transform: uppercase;
        color: $blue;
        margin-bottom: 8px;
        display: flex;
        margin-left: 10px;

        @include breakpoint($medium) {
          margin-left: 0;
        }

        img {
          margin: 14px 0 0 3px;
          height: 10px;
          width: 8px;
        }

        @include breakpoint($phone) {
          margin-bottom: 0;
        }
      }
      &_head {
        color: black;
        font-family: $semifont;
        margin-bottom: 5px;
        font-weight: 500;
        margin-bottom: 25px;
        margin-left: 10px;
        @include breakpoint($medium) {
          margin-left: 0;
        }

        &-item {
          &:nth-child(1) {
            font-family: $font;
            font-style: normal;
            font-weight: normal;
            font-size: 11px;
            line-height: 17px;
            letter-spacing: 0.02em;
            color: $dblack;
          }
        }
        @include breakpoint($phone) {
          display: none;
        }
      }
      &_btn {
        @include breakpoint($phone) {
          display: none;
        }
        text-align: center;
        text-transform: uppercase;
        color: black;
        background: $yellow;
        border-radius: 30px;
        @include btnShadow();
        min-height: 30px;
        font-size: 10px;
        line-height: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        height: 30px;

        img {
          height: 15px;
          width: 15px;
          margin-left: 15px;
        }

      }
      &_cart {
        display: none;
        @include breakpoint($phone) {
          display: block;
        }
        @include bg(contain, center);
        background-image: url("/img/icons/product_cart.png");
        width: 30px;
        height: 30px;
      }
    }
  }
}
