.form {
  margin-top: 40px;
  margin-bottom: 100px;
  margin: 20px;
  margin-bottom: 50px;

  @include breakpoint($phone) {
    margin: 0 auto;
    margin-bottom: 0px;
    width: $layoutw;
    display: block;
  }

  &_wrap {
    padding: 20px 30px;
    max-width: 970px;
    border: 1px solid $light_gray;
    border-radius: 30px;
    margin: 0 auto;

    @include breakpoint($phone) {
      padding: 70px;
    }
    &-item {
      display: flex;
      flex-direction: column;
      max-width: 830px;
      margin: 0 auto;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      &_desc {
        font-size: 11px;
        line-height: 17px;
        letter-spacing: 0.02em;
        color: $dblack;

        font-family: $font;
        @include breakpoint($phone) {
          font-size: 12px;
          line-height: 14px;
          letter-spacing: 0.02em;
          margin-bottom: 20px;
        }
      }
      &_heading {
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        /* identical to box height, or 117% */
        color: $dblack;
        font-family: $font;

        letter-spacing: 0.02em;
        @include breakpoint($phone) {
          font-size: 18px;
          line-height: 18px;
          margin-bottom: 20px;
        }
      }
      &_control {
        margin-bottom: 10px;

        &-btn {
          min-height: 40px;
          max-height: 40px;
          margin: 0 20px;
          border-radius: 30px;
          background: $yellow;
          @include btnShadow();
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          @include breakpoint($phone) {
            max-width: 200px;
            margin: 0;
          }

          &_item {
            font-weight: 500;
            font-size: 18px;
            line-height: 14px;
            letter-spacing: 0.02em;
            cursor: pointer;
            text-transform: uppercase;
            color: $dblack;
            @include breakpoint($phone) {
              font-family: $font;
              font-size: 12px;
              line-height: 14px;
            }
          }
        }

        &-input {
          font-family: $font;
          font-weight: 500;
          font-size: 12px;
          line-height: 14px;
          letter-spacing: 0.02em;
          color: $dblack;
          appearance: none;

          .form_wrap-item_control-label {
            margin-bottom: 10px;
            @include breakpoint($phone) {
              margin-bottom: 5px;
            }
          }
          input {
            @include input();
            border: 1px solid black;
            width: 100%;
            appearance: none;

            @include breakpoint($phone) {
              border: 1px solid $light_gray;
            }
          }
          textarea {
            width: 100%;
            height: 40px;
            border-radius: 30px;
            height: 150px;
            border: 1px solid $light_gray;
            resize: none;
            padding: 10px 20px;
            outline: none;
            appearance: none;

            &::placeholder {
              font-family: $font;
              font-size: 11px;
              line-height: 17px;
              letter-spacing: 0.02em;
              color: $gray;
            }
            @include breakpoint($phone) {
              width: 830px;
            }
          }
        }
        &-check {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          @include breakpoint($phone) {
            margin-bottom: 0;
          }

          &:before {
            content: "";
            display: block;
            background-image: url("/img/icons/ok2.svg");
            height: 20px;
            width: 20px;
            margin-right: 10px;
            border: 1px solid black;
            border-radius: 50%;

            @include breakpoint($phone) {
              border: 1px solid $light_gray;
            }
          }
        }
        &-check-text {
          font-family: $font;
          font-weight: 500;
          font-size: 12px;
          line-height: 14px;
          letter-spacing: 0.02em;
          text-transform: uppercase;
          color: $dblack;
        }
        &-input {
          display: flex;
          appearance: none;
          flex-direction: column;
        }
        &-header {
          font-family: $semifont;
          font-weight: 600;
          font-size: 12px;
          color: $dblack;
          @include breakpoint($phone) {
            margin-bottom: 20px;
          }
        }
        &-inputs {
          display: flex;
          flex-direction: column;
          // margin-bottom: 30px;

          @include breakpoint($phone) {
            flex-direction: row;
            margin-bottom: 40px;
          }

          &_input {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
            width: 100%;

            @include breakpoint($phone) {
              margin-right: 10px;
            }

            input {
              @include input();
              appearance: none;
              width: 100%;
            }
            .form_wrap-item_control-label {
              font-family: $font;
              font-weight: 500;
              font-size: 12px;
              line-height: 14px;
              letter-spacing: 0.02em;
              color: $dblack;
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
}
