.thanks {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
    display: none;
    margin-bottom: 50px;

    &_wrap {
        width: 430px;
        height: 225px;
        background: #FFFFFF;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;

        &:before {
            position: absolute;
            top: 0;
            display: block;
            content: '';
            width: 100%;
            height: 4px;
            background: $gradient;
        }

        &_btn {
            box-shadow: none;
            background: #fff;
            border: 1px solid $yellow;
        }
        &_desc {
            font-family: $font;
            font-size: 12px;
            line-height: 15px;
            text-align: center;
            letter-spacing: 0.02em;
            color: $dblack;
            margin-bottom: 23px;
            max-width: 240px;
        }

        &_head {
            font-family: $semifont;
            font-weight: 600;
            font-size: 12px;
            line-height: 14px;
            text-align: center;
            letter-spacing: 0.02em;
            color: $dblack;
            padding-bottom: 17px;
            margin-bottom: 15px;
            border-bottom: 1px solid $light_gray;
        }
    }
}
