.payment_dropdown {
    &_open, &_open-right {
        padding: 0;
        padding-bottom: 0.5rem;
        max-height: 200px;
        list-style: none;
        margin: 0;
        background: #fff;
        border: 1px solid $light_gray;
        display: block !important;
        width: 100%;
        position: absolute;
        top: -12px;
        border-right: 0;
        border-top: 0;
        overflow: scroll;
        border-radius: 20px;
        border-top-right-radius: 0;

        &::-webkit-scrollbar {
            display: none;
        }

        li {
            font-family: $font;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.02em;
            padding: 17px 0;
            text-align: center;
            width: 100%;

            &:first-child {
                padding-top: 0.5rem;
            }
            &:hover {
                background: $gray;
            }
        }
    }

    &_open-right {
        width: 101%;
        border-top-right-radius: 20px;
        border-right: 1px solid $light_gray;
        border-left: 0;
        border-top: 0;
        border-top-left-radius: 0;
    }
}
