#emailIsNotVerified {
    z-index: 99999;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}

.emailIsNotVerified {
    width: 430px!important;
    height: 330px;

    &:after {
        content: "";
        width: 100%;
        height: 4px;
        display: block;
        position: absolute;
        background: linear-gradient(90deg, #d935fd 19.91%, #3559fd 100%);
        left: 0;
        top: 0;
    }

    .flat_btn, .animated_btn {
        width: 230px;
        margin: 0 0 20px 0;
    }
    &_span {
        font-family: $font;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.02em;
        color: $dblack;
        margin-bottom: 10px;
    }
    &_img {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    &_inner {
        display: flex;
        flex-direction: column;
        align-items: center;

        .flat_btn, .animated_btn {
            font-family: $font;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            text-align: center;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            color: $dblack;
        }
    }
    &_head {
        &_txt {
            font-family: $semifont;
            font-size: 12px;
            line-height: 15px;
            text-align: center;
            letter-spacing: 0.02em;
            color: $dblack;
            border-bottom: 1px solid $light_gray;
            display: inline-block!important;
            padding-bottom: 15px;
            margin: 0 0 20px 0;
        }
    }
}
