.uk-text-area {
    min-height: 100px;
    width: 99%;
    border: 1px solid #e5e5e5;
    padding: 10px 0 0 10px;
}

.uk-input::placeholder {
    color: $gray;
}
.uk-text-area::placeholder {
    color: $gray;
    resize: none;
}
