.comments {
  border-bottom: 1px solid $yellow;

  @include breakpoint($phone) {
    max-width: $layoutw;
    margin: 0 auto;
  }

  &_wrap {
    display: flex;
    border-bottom: 1px solid $yellow;
    padding: 20px;
    
    @include breakpoint($phone) {
      padding: 0 20px 20px 20px;
    }

    &-item {
      &:first-child {
        position: absolute;
        right: 20px;
        @include breakpoint($phone) {
          position: initial;
          right: initial;
        }
      }
      &:nth-child(2) {
        @include breakpoint($phone) {
          margin-left: 30px;
        }
      }
      &_plus,
      &_minus,
      &_feedback {
        margin: 10px 0 0 0;
        @include breakpoint($phone) {
          margin: 20px 0 0 0;
        }
        border-bottom: 1px solid $light_gray;
        &:last-child {
          border: none;
          .comments_wrap-item_feedback-text {
            margin-bottom: 0;
          }
        }

        &-heading {
          font-family: $font;
          font-weight: 600;
          font-size: 12px;
          line-height: 20px;
          letter-spacing: 0.02em;
          color: $dblack;
          margin-bottom: 5px;
        }
        &-text {
          font-family: $font;
          font-size: 12px;
          line-height: 20px;
          letter-spacing: 0.02em;
          color: $dblack;
          margin-bottom: 5px;
        }
      }
      &_like {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        &-icon {
          width: 30px;
          height: 30px;
          @include bg(cover, center);
          background-image: url("/img/icons/like.svg");
        }
        &-text {
          font-family: $font;
          font-size: 12px;
          line-height: 14px;
          letter-spacing: 0.02em;
          color: $gray;
          margin-left: 10px;
        }
      }
      &_header {
        margin-bottom: 5px;
        @include breakpoint($phone) {
          display: none;
        }
      }
      &_heading {
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.02em;
        font-family: $font;
        font-weight: 600;
        color: $dblack;
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        @include breakpoint($phone) {
          margin-bottom: 20px;
          font-size: 18px;
        }

        &-item {
          &:nth-child(2) {
            font-family: $font;
            font-weight: 600;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.02em;
            color: $gray;
            margin-left: 25px;
          }
        }
      }
      &_avatar {
        width: 70px;
        height: 70px;
        @include bg(cover, center);
        background-image: url("/img/unnecessary/ava.png");
      }
    }
  }
}