.prdesc {
    &_footer {
        margin-top: 20px;
    }

    &_desc, &_footer {
        font-family: $font;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.02em;
        color: $dblack;
        padding: 0px 30px 0 30px;
    }
    &_head {
        font-family: $semifont;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: $dblack;
        height: 40px;
        background-color: $yellow;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 25px;
    }
    &_icon {
        height: 50px;
        width: 50px;
        margin: 0 auto;
        margin-bottom: 20px;
        margin-top: 30px;
    }

    &_item {
        &_wrap {
            width: 300px;
            height: 470px;
            display: flex;
            flex-direction: column;
            border: 1px solid $light_gray;
        }
    }
    &_wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 35px;
        max-width: 970px;
        margin: 0 auto;
    }
}
