.details {
    &_wrap {
        max-width: $layoutw;
        margin: 0 auto;
        display: flex;
        height: 485px !important;
        overflow: hidden;

        &-slider {
            width: 600px;
        }

        &-info {
            margin-left: 70px;
            display: flex;
            flex-direction: column;
            position: relative;

            .price_wrap {
                display: flex;
                align-items: flex-end;
                position: absolute;
                bottom: 84px;

                .discount {
                    margin-bottom: 3px;
                    margin-left: 40px;

                    .details_wrap-info_item-price_item {
                        span {
                            margin-right: 5px;
                        }

                        &-price {
                            font-family: Montserrat;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 12px;
                            line-height: 14px;
                            letter-spacing: 0.02em;
                            text-transform: uppercase;
                            color: $blue;
                        }
                    }
                }
                .details_wrap-info_item-price {
                    &_item {
                        font-family: $font;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 9px;
                        line-height: 14px;
                        letter-spacing: 0.02em;
                        color: #40404C;
                        display: flex;
                        margin-bottom: 5px;
                        position: relative;

                        &-rubMini {
                            position: absolute;
                            right: -12px;
                            width: 7px;
                            top: 7px;
                        }

                        &-rub {
                            width: 10px;
                            position: absolute;
                            top: 13px;
                            right: -14px;
                        }

                        span {
                            margin-left: 5px;
                        }

                        &-price {
                            text-transform: uppercase;
                            position: relative;
                            font-family: $font;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 24px;
                            line-height: 26px;
                            color: $blue;
                        }
                    }
                }
            }

            &_item {
                &:last-child {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                }

                &-icons {
                    display: flex;
                    align-items: center;
                    justify-items: center;
                    margin: 0 0 30px 0;

                    &_icon {
                        width: 50px;
                        height: 50px;
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                        margin-right: 30px;
                    }
                }
                &:last-child {
                    display: flex;
                    align-items: center;
                }

                &-left {
                    margin-right: 30px;

                    .col_amount {
                        font-family: $font;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 14px;
                        letter-spacing: 0.02em;
                        color: #40404C;
                        margin-bottom: 12px!important;

                        span {
                            margin: 0 auto;
                        }
                    }
                    .cart_wrap-item_inner-table_row-col_btns-btn-items {
                        margin-bottom: 16px;
                    }
                }
                &-field {
                    font-family: $font;
                    font-size: 12px;
                    line-height: 20px;
                    letter-spacing: 0.02em;
                    color: $dblack;
                    margin-bottom: 15px;
                }
                &-desc {
                    font-family: $semifont;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 14px;
                    letter-spacing: 0.02em;
                    color: $dblack;

                    p {
                        margin: 0 0 25px 0;   
                    }
                }
                &-head {
                    h1 {
                        font-family: $font;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 18px;
                        letter-spacing: 0.02em;
                        color: $dblack;
                        margin-top: 40px;
                        margin-bottom: 25px;
                    }
                }
            }
        }
    }
}
