.dash {
    max-width: $layoutw;
    margin: 0 auto;
    display: flex;
    padding-top: 20px;
    margin-bottom: 50px;

    &_logout {
        a {
            span {
                color: #D4D4D5!important;
            }
        }
    }
    &_active {
        div {
            span {
                font-family: $semifont!important;
            }
        }
    }

    &_left {
        width: 170px;

        &-wrap {
            &_item {
                cursor: pointer;
                border-bottom: 1px solid $gray;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                &:last-child {
                    border: none;
                }

                &-icon {
                    height: 15px;
                    width: 15px;
                }

                &-text {
                    font-family: $font;
                    font-size: 12px;
                    line-height: 14px;
                    letter-spacing: 0.02em;
                    color: $dblack;
                    display: block;

                    &:hover {
                        color: $black;
                    }
                }
            }
        }
    }

    &_right {
        margin-left: 30px;
        padding-top: 20px;

        &_coupone {
            display: flex;
            margin: 0 auto;
            width: 870px;
            margin-top: 55px;

            &-item {
                height: 200px;
                background: #E9E9EA;
                box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.15);

                &:nth-child(2) {
                    .dash_right_coupone-item_inner {

                        &-text {
                            max-width: 235px!important;
                            font-family: $font;
                            font-style: normal;
                            text-align: center;
                            text-transform: uppercase;
                            color: $dblack;
                            text-align: center;

                            p {
                                text-align: center;
                                font-weight: 600;
                                font-size: 24px;
                                line-height: 35px;
                            }
                        }
                    }
                }

                &_inner {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    flex-direction: column;

                    &-text {
                        font-family: $font;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 14px;
                        text-align: center;
                        letter-spacing: 0.02em;
                        color: $dblack;
                        max-width: 134px;
                        margin-top: 20px;

                        p {
                            text-align: left;
                        }
                    }

                    &-sale {
                        height: 100px;
                        width: 100px;
                        border: 2px dashed $blue;
                        border-radius: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-top: 30px;

                        &-item {
                            position: relative;
                            p {
                                margin: 0;
                                font-family: $semifont;
                                font-style: normal;
                                font-weight: bold;
                                font-size: 36px;
                                line-height: 100%;
                                text-align: center;
                                letter-spacing: -0.02em;
                                text-transform: uppercase;
                                color: $blue;
                            }

                            img {
                                height: 14px;
                                width: 10px;
                                bottom: 0;
                                position: absolute;
                                right: -13px;
                            }
                       }
                    }
                }

                &:first-child {
                    clip-path: polygon(15% 0, 100% 0, 100% 100%, 15% 100%, 0 85%, 0 15%);
                    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.15);
                    width: 200px;
                    border-right: 2px dashed;
                }

                &:nth-child(2) {
                    width: 470px;
                }

                &:last-child {
                    clip-path: polygon(85% 0, 100% 15%, 100% 85%, 85% 100%, 0 100%, 0 0);
                    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.15);
                    width: 200px;
                    border-left: 2px dashed;
                }
            }
        }

        &_profit {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 10px;
            width: 570px;
            margin: 0 auto;
            margin-top: 65px;
            margin-bottom: 80px;

            &-item {
                cursor: pointer;
                width: 285px;
                height: 270px;
            }
        }

        &_sale {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            padding-top: 24px;

            &-item {
                width: 285px;
                height: 270px;
                cursor: pointer;
            }
        }

        &-wrap {
            &-head {
                font-family: $font;
                font-weight: 600;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0.02em;
                color: $dblack;
                margin-bottom: 10px;
            }

            &-text {
                font-family: $font;
                font-weight: 500;
                font-size: 12px;
                line-height: 20px;
                letter-spacing: 0.02em;
                color: $dblack;
            }
        }
    }
}
