.dfill {
    &_change {
        float: right;
        font-family: $font;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.02em;
        color: $blue;
        margin-top: 20px;
        pointer-events: none;
    }

    .dchange {
        width: 100%;
        margin: 50px 0;

        &_remind {
            margin-top: 30px;

            p {
                display: flex;
                font-family: $font;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0.02em;
                color: $dblack;
            }

            span {
                color: $red;
                display: block;
                padding: 0 5px;
            }
        }

        &_btn {
            width: 270px!important;
            height: 40px;
            box-shadow: none!important;
        }

        form {
            button {
                -webkit-appearance: none;
                -moz-appearance:    none;
                appearance:         none;
                border: none;
            }
        }
        .form-group {
            margin-bottom: 20px;

           label {
               font-family: $font;
               font-size: 12px;
               line-height: 14px;
               letter-spacing: 0.02em;
               color: $dblack;
               display: flex;
               margin-bottom: 10px;

               span {
                   display: block;
                   color: $red;
               }
           }

            input {
                width: 870px;
                height: 40px;
                left: 575px;
                top: 686px;
                border: 1px solid $gray;
                box-sizing: border-box;
                border-radius: 30px;
                padding-left: 20px;
            }
        }
    }

    &_wrap {
        margin-top: 15px;

        &-heading {
            font-family: $font;
            font-size: 12px;
            line-height: 20px;
            letter-spacing: 0.02em;
            color: $dblack;
            margin-bottom: 20px;
            max-width: 500px;
        }

        &-form_top {
            display: flex;

            &-left {
                cursor: pointer;

                &_inner {
                    width: 300px;
                    height: 350px;
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }

            &-right {
                margin-left: 70px;
                border-bottom: 1px solid $yellow;

                .form-group {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 20px;
                    position: relative;

                    &-btn {
                        position: absolute;
                        right: -3px;
                        height: 40px;
                        border-top-right-radius: 20px;
                        border-bottom-right-radius: 20px;
                        cursor: pointer;
                        outline: none;
                        background: $light_gray;
                        width: 100px;

                        span {
                            font-family: $font;
                            font-size: 12px;
                            line-height: 14px;
                            letter-spacing: 0.02em;
                            color:  $black;
                        }
                    }

                    input {
                        width: 500px;
                        height: 40px;
                        border: 1px solid $gray;
                        box-sizing: border-box;
                        border-radius: 30px;
                        padding-left: 20px;
                        font-size: 12px;
                    }

                    label {
                        display: flex;
                        font-family: $font;
                        font-size: 12px;
                        line-height: 14px;
                        letter-spacing: 0.02em;
                        color: $dblack;
                        margin-bottom: 10px;

                        span {
                            margin-left: 3px;
                            color: $red;
                        }
                    }
                }
            }
        }
     }
}
