.fadress {
    margin-left: 30px;
    margin-bottom: 300px;
    padding-top: 17px;

    &_wrap {
        &-form {
            button {
                padding: 0;
            }
            &-btn {
                width: 270px;
                height: 40px;
                box-shadow: none!important;
                margin-top: 50px;
            }

            .third_row {
                .fadress_wrap-form_group_inner {
                    margin-right: 20px;

                    input {
                        width: 100px;
                        height: 40px;

                        &::placeholder {
                            font-size: 12px;
                            line-height: 14px;
                            letter-spacing: 0.02em;
                            color: $gray;
                        }
                    }
                }
            }
            .second_row {
                .fadress_wrap-form_group_inner {
                    input {
                        width: 870px;
                        height: 40px;
                        &::placeholder {
                            font-size: 12px;
                            line-height: 14px;
                            letter-spacing: 0.02em;
                            color: $gray;
                        }
                    }
                }
            }
            .first_row {
                .fadress_wrap-form_group_inner {
                    margin-right: 10px;

                    input {
                        width: 430px;
                        height: 40px;
                        &::placeholder {
                            font-size: 12px;
                            line-height: 14px;
                            letter-spacing: 0.02em;
                            color: $gray;
                        }
                    }
                }
            }
            &_group {
                display: flex;

                &_inner {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 20px;

                    label {
                        font-family: $font;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 130%;
                        color: $dblack;
                        margin-bottom: 10px;
                    }

                    input {
                        border: 1px solid $gray;
                        box-sizing: border-box;
                        border-radius: 30px;
                        padding-left: 10px;
                        outline: none;

                        &::placeholder {
                            font-size: 12px;
                            line-height: 14px;
                            letter-spacing: 0.02em;
                            color: $gray;
                        }
                    }
                }
            }
        }
    }
}
