.cart_success {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  &_wrap {
    width: 770px;
    height: 330px!important;
    display: flex;
    align-items: center;
    margin: auto;
    position: relative;
    padding: 10% 2em;
    box-sizing: border-box;
    flex-direction: column;
    $border: 5px;
    color: $black;
    background: #fff;
    background-clip: padding-box;
    border: solid $border transparent;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -1;
      margin: -$border;
      border-radius: inherit;
      background: linear-gradient(to right, #D935FD, #3559FD);
    }

    &_item {
      position: absolute;

      &:first-child {
        top: 54px;
      }
      &:nth-child(2) {
        top: 87px;
      }
      &:nth-child(3) {
        top: 148px;
      }
      &:last-child {
        bottom: 40px;
      }

      &-heading {
        h1 {
          font-family: $font;
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 100%;
          letter-spacing: 0.02em;
          text-transform: uppercase;
          color: $dblack;
          margin: 0;
        }
      }
      &-icon {
        width: 57px;
        height: 50px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      &-paragraph {
        font-family: $font;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.02em;
        color: $dblack;
        width: 564px;
        height: 60px;
        text-align: center;

        p {
          text-align: center;
          margin: 0;
        }

      }
      &-btn {
        &_item {

        }
      }
    }
  }
}
