.cart {
  @include breakpoint($medium) {
    margin-bottom: 300px;
  }
  &_wrap {
    max-width: $layoutw;
    margin: 0 auto;
    min-height: 600px;

    @include breakpoint($phone) {
      margin-bottom: 30px;
    }

    &-crumb {
      width: 100%;
      background: $light_gray;
      display: flex;
      justify-content: space-between;
      padding: 20px 15px;
      border-bottom: 1px solid $light_gray;
      margin-bottom: 20px;

      .active {
        position: relative;

        &:after {
          content: "";
          display: block;
          position: absolute;
          height: 4px;
          width: 100%;
          background: $purple;
          bottom: -22px;
          left: -10px;
        }
      }

      @include breakpoint($phone) {
        padding: 20px 0;
        width: initial;
        margin-bottom: 30px;
        background: initial;
      }
      &-item {
        font-family: $font;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.02em;
        display: flex;
        align-items: center;
        color: white;
        min-width: 130px;

        @include breakpoint($phone) {
          color: $dblack;
        }

        &:after {
          content: "";
          display: block;
          width: 15px;
          height: 15px;
          @include bg(contain, center);
          margin-left: 10px;
          margin-top: 0;
          background-image: url("/img/icons/arrow_right_white.svg");
          @include breakpoint($phone) {
            background-image: url("/img/icons/arrow_right.svg");
          }
        }
      }
    }
    &-item {
      &_inner {
        &-total {
          padding: 20px;
          border: 1px solid $light_gray;
          margin: 15px;
          @include breakpoint($phone) {
            padding: 0;
            margin: 0;
            border: none;
          }

          &_inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            padding-bottom: 10px;

            @include breakpoint($phone) {
              display: block;
              margin: 0px;
            }
          }
          @include breakpoint($phone) {
            max-width: 270px;
            float: right;
          }
          &_button {
            margin: 0 auto;
            height: 50px;
            cursor: pointer;
            background: $yellow;
            border-radius: 30px;
            @include btnShadow();
            display: flex;
            justify-content: center;
            align-items: center;

            @include breakpoint($phone) {
              max-width: 270px;
              min-width: 270px;
              min-height: 50px;
            }

            &-item {
              text-transform: uppercase;
              font-weight: 500;
              @include breakpoint($phone) {
                font-size: 12px;
              }
            }
          }
          &_inner {
            font-family: $font;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.02em;
            color: $black;
            margin-bottom: 10px;

            &-item {
              &:first-child {
                margin-right: 15px;
              }
              &:nth-child(2) {
                font-family: $font;
                font-style: normal;
                font-size: 24px;
                line-height: 26px;
                text-transform: uppercase;
                color: $black;
                font-weight: 600;
                position: relative;

                &:after {
                  top: 12.5px;
                  background-image: url("/img/icons/rubFat.svg") !important;

                  @include breakpoint($phone) {
                    display: none;
                  }
                }
                @include rub();

                @include breakpoint($phone) {
                  font-size: 18px;
                  line-height: 14px;
                  text-align: right;
                  letter-spacing: 0.02em;
                }
              }
            }
          }
        }
        &-table {
          border-top: 1px solid $light_gray;

          @include breakpoint($medium) {
            border-bottom: 1px solid $yellow;
            margin-bottom: 40px;
            padding-bottom: 20px;
          }

          &_row {
            display: flex;
            flex-direction: column;
            border: 1px solid $light_gray;
            margin: 15px 15px 30px 15px;

            @include breakpoint($medium) {
              flex-direction: row;
              padding: 10px;
              display: block;
              margin-bottom: 0!important;
            }

            &_heading {
              position: absolute;
              top: 10px;
              left: 10px;
              font-family: $font;
              font-style: normal;
              font-weight: 500;
              font-size: 12px;
              line-height: 14px;
              letter-spacing: 0.02em;
              color: $black;
            }

            @include breakpoint($medium) {
              flex-direction: row;
              margin: 0;
              padding: 0;
              border: none;
              display: flex;
              margin: 20px 0;
            }

            &:first-child {
              @include breakpoint($medium) {
                display: flex;
                margin-bottom: 0;
              }
            }

            &:nth-child(2) {
              margin-top: 30px;
              display: none;

              @include breakpoint($medium) {
                display: flex;
                margin:0;
                margin-top: 20px;
              }
            }
            .col_amount {
              display: none;
              margin-bottom: 0!important;

              @include breakpoint($medium) {
                display: block;
                margin-bottom: 15px!important;
              }

                span {
                  display: none;
                  @include breakpoint($medium) {
                    display: block;
                  }
                }
            }

            .product_delete {

            }

            &-col {
              display: flex;
              align-items: center;
              position: relative;
              padding: 15px 10px;
              justify-content: space-between;
              margin-bottom:0;

              &:nth-child(1) {
                padding-top: 35px;
                @include  breakpoint($medium) {
                  padding-top: 0;
                }
              }


              @include breakpoint($medium) {
                margin: 15px;
              }

              //justify-content: space-between;
              //border-bottom: 1px solid $light_gray;

              @include breakpoint($medium) {
                border: none;
              }

              &:last-child {
                background: $light_gray;
                //padding: 20px 10px;

                @include breakpoint($medium) {
                  background: initial;
                }
              }

              &_delete {
                height: 10px;
                width: 10px;
                background-image: url("/img/icons/cart_delete.svg");
                @include bg(contain, center);
                cursor: pointer;
              }

              @include breakpoint($medium) {
                padding: 0 0 15px 0;
              }

              .desktop-hide {
                font-family: $font;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0.02em;
                color: $black;
              }

              @include breakpoint($medium) {
                margin: 20px 0 0;
                flex-basis: 20%;
                justify-content: initial;
              }

              &:first-child {
                @include breakpoint($medium) {
                  flex-basis: 60%;
                  margin: 0;
                  padding: 0;
                }
              }

              &_total {
                font-family: $font;
                font-weight: 500;
                font-size: 24px;
                line-height: 100%;
                letter-spacing: 0.02em;
                text-transform: uppercase;
                color: $dblack;

                a {
                  height: 15px;
                  width: 15px;
                  display: block;
                  background-repeat: no-repeat;
                  background-position: center;
                  background-size: cover;

                }
              }
              &_btns {
                border-radius: 30px;
                width: 115px;
                display: flex;
                align-content: center;
                justify-content: center;
                height: 30px;
                max-height: 30px;
                margin-right: 10px;

                @include breakpoint($medium) {
                  margin-right: 0;
                }

                &-btn {
                  display: flex;
                  align-items: center;
                  justify-content: space-around;
                  flex-direction: column;
                  width: 100%;
                  height: 100%;

                  &-items {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    width: 170px;
                    min-height: 30px;
                    border: 1px solid $light_gray;
                    border-radius: 30px;
                    align-items: center;

                    @include breakpoint($medium) {
                      margin-bottom: 29px;
                    }


                    &_minus, &_quantity, &_plus {
                      height: 100%;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      cursor: pointer;

                      span {
                        font-family: $semifont;
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 14px;
                        letter-spacing: 0.02em;
                        color: #292930;
                      }
                    }

                    &_minus {
                      color: $black;
                      border-right: 1px solid $light_gray;
                    }
                    &_quantity {
                      border-right: 1px solid $light_gray;
                    }

                    &_plus {
                      color: $black;
                    }
                  }
                  &:first-child {
                    font-family: $font;
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 14px;
                    letter-spacing: 0.02em;
                    color: $dblack;
                    border-radius: 30px;
                  }
                }
              }
              &_price {
                width: 100%;
                font-family: $font;
                font-weight: 500;
                font-size: 24px;
                line-height: 100%;
                letter-spacing: 0.02em;
                color: $dblack;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &-val-item {
                  font-family: $font;
                  font-weight: 500;
                  font-size: 24px!important;
                  line-height: 100%;
                  letter-spacing: 0.02em;
                  text-transform: uppercase;
                  color: #292930;
                }

                &-item {
                  font-family: $font;
                  text-transform: uppercase;
                  font-style: normal;
                  font-weight: 600;
                  font-size: 18px;
                  line-height: 18px;
                  letter-spacing: 0.02em;
                  color: $dblack;
                  position: relative;
                  margin-right: 15px;
                }

                span {
                  &:first-child {
                    font-family: $font;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 14px;
                    letter-spacing: 0.02em;
                    color: $black;
                  }
                }
              }
              &_img {
                width: 100px;
                height: 100px;
                display: flex;
                align-items: center;
                position: relative;

                .remove_icon {
                  display: none;
                  height: 15px;
                  width: 15px;
                  color: black;
                  position: absolute;
                  left: -2rem;
                  cursor: pointer;
                  background-image: url('/img/unnecessary/cart_close.svg');
                  background-size: cover;
                  background-repeat: no-repeat;
                  background-position: center;

                  @include breakpoint($medium) {
                    display: block;
                  }
                }

                  img {
                      width: 100%;
                      object-fit: cover;
                      height: 100%;

                      @include breakpoint($medium) {
                          object-fit: contain;
                      }
                  }
              }
              &_desc {
                flex-basis: 80%;
                margin-left: 30px;

                &:first-child {
                  @include breakpoint($medium) {
                    flex-basis: 60%;
                  }
                }
                &-about {
                }
                &-info {
                  font-family: $font;
                  font-weight: 500;
                  font-size: 24px;
                  line-height: 100%;
                  letter-spacing: 0.02em;
                  text-transform: uppercase;
                  color: $black;
                  margin-bottom: 10px;
                }
                &-head {
                  font-family: $font;
                  font-weight: 500;
                  font-size: 12px;
                  line-height: 14px;
                  letter-spacing: 0.02em;
                  text-transform: uppercase;
                  color: $black;
                  margin-bottom: 10px;
                }
              }
              &-heading {
                font-family: $font;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0.02em;
                color: $black;
              }
            }
          }
        }
        &-heading {
          font-family: $font;
          font-weight: 500;
          font-size: 24px;
          line-height: 100%;
          letter-spacing: 0.02em;
          text-transform: uppercase;
          color: $dblack;
          margin-bottom: 20px;
          display: none;
          @include breakpoint($medium) {
            display: block;
          }
        }
      }
    }
  }
}
