.payments_wrapper {
  display: flex;
  justify-content: space-between;
  max-width: $layoutw;
  margin: 0 auto;
  width: 100%;
}

.payment {
    &_wrap {
      &-form {
        &_inner {
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
            padding: 30px;
            margin: 30px 30px 30px 0;

          .payment_wrap-form_group, .payment_wrap-form_group-inner {
              display: flex;
              flex-direction: column;
              align-items: flex-start;

           .row_alignment {
             display: flex;

             label {
               font-family: $font!important;
             }

             .payment_wrap-form_group-cvv {
               padding-left: 20px;
               outline: none;
             }

             &-inner {
               display: flex;
               flex-direction: row!important;
               border-radius: 30px;
               margin-bottom: 20px;

               .payment_wrap-form_group-date {
                 height: 100%;
                 display: flex;
                 align-items: center;
                 justify-content: space-between;

                 &:first-child {
                   border-right: 1px solid $light_gray;
                 }
               }
              .month {
                .arrow {
                  margin-right: 15px!important;
                }
              }

               .year, .month {
                 display: flex;
                 justify-content: space-between;
                 align-items: center;
                 width: 100%;
                 cursor: pointer;

                 .year_label-input {
                   border: none!important;
                   padding-left: 20px;
                 }

                 span {
                   &:first-child {
                     margin-left: 20px;
                     font-family: $font;
                     font-size: 12px;
                     line-height: 14px;
                     letter-spacing: 0.02em;
                     color: $gray;
                   }
                 }

                 .arrow {
                   width: 10px;
                   height: 10px;
                   background-position: center;
                   background-size: cover;
                   transform: rotate(90deg);
                   margin-right: 20px;
                 }

               }

               @include breakpoint($medium) {
                 width: 200px;
                 height: 40px;
                 border: 1px solid $light_gray;
                 display: grid;
                 grid-template-columns: 1fr 1fr;
                 align-items: center;
                 justify-content: center;
                 margin-right: 25px;

               }
             }
            }
          }
          .payment_wrap-form_group-inner {
              input {
                @include breakpoint($medium) {
                  width: 430px;
                  height: 40px;
                  outline: none;
                  padding-left: 20px;
                  border-radius: 30px;
                }
              }
              .cart_num {
                  font-family: $font!important;
              }
          }
        }

        &_group {
          label {
            font-family: $semifont;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.02em;
            color: $dblack;
            margin-bottom: 13px;
            display: block;
          }

          &-inner {
            margin-bottom: 25px;
            display: flex;
            align-items: center;
            user-select: none;

              span {
                display: block;
                margin-left: 35px;
                font-family: $font;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0.02em;
                color: $dblack;
              }
          }
        }
      }
      &-head {
        h1 {
          font-family: $font;
          font-weight: 500;
          font-size: 12px;
          line-height: 14px;
          letter-spacing: 0.02em;
          text-transform: uppercase;
          color: $dblack;
          margin-bottom: 30px;
        }
      }
    }
}
