.cart_check-wrapper {
  max-width: $layoutw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  min-height: 790px;
}

.cart_check {
  max-width: 630px;
  &-button {
    align-self: flex-end;
  }
  &-wrap {
    display: flex;
    flex-direction: column;

    &_item {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      grid-gap: 30px;
      margin-bottom: 10px;

      &:last-child {
        margin-top: 10px;
      }

      .checkbox {
        flex-direction: row!important;
        align-items: center;
      }
      &-group {
          display: flex;
          flex-direction: column;
          border: none;
          outline: none;
          user-select: none;

          &_btn {
            outline: none;
          }

          label {
            font-family: $font;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.02em;
            color: $black;
            margin-bottom: 10px;
          }

          [for="required"] {
            color: $red;
            padding-top: 5px;
          }
          [for='save'] {
            margin-bottom: 0;
            margin-left: 35px;
          }
          input[type='checkbox'] {
              width: 20px;
              height: 20px;
              visibility: hidden;
          }
          input {
            width: 300px;
            height: 40px;
            outline: none;
            padding-left: 16px;
          }
      }
    }
    &_head {
      h1 {
        font-family: $semifont;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: $dblack;
        margin-bottom: 30px;
      }
    }
  }
}