.dform {
  &_outer {
    display: flex;
  }
  &_head {
    font-family: $semifont;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $dblack;
    margin-bottom: 25px;
  }

  &_wrap {
    display: flex;

    &-col {
      padding: 0 16px;

      &:nth-child(2) {
        margin-left: -200px;
      }

      .delivery_type {
        &-item {
          display: flex;
          align-items: center;
          margin-bottom: 20px;
          
            span {
              font-family: $font;
              font-size: 12px;
              line-height: 14px;
              letter-spacing: 0.02em;
              color: $dblack;
              display: block;
              margin-left: 35px;
            }
        }
      }

      .index_group {
        .form_group {
          &-wrap {
            display: flex;

            .action_btn {
              width: 170px!important;
              height: 40px!important;
            }

            input {
              width: 185px;
              margin-right: 15px;
            }
          }
        }
        .index_heading {
          font-family: $font;
          font-size: 12px;
          line-height: 14px;
          letter-spacing: 0.02em;
          color: $dblack;
          margin-bottom: 25px;
        }
      }

      &:first-child {
        flex-basis: 70%;
      }

      flex-basis: 30%;

      .action_btn {
         width: 240px!important;
         height: 40px!important;
         box-shadow: none!important;
         margin-bottom: 35px;

        .action_btn-item {
          font-family: $font;
          font-weight: 500;
          font-size: 12px;
          line-height: 14px;
          letter-spacing: 0.02em;
          text-transform: uppercase;
          color: $dblack;
        }
      }

      &_item {
        .map_group {
          .map_group-delivery {
            width: 631px!important;
            height: 364px!important;
            margin-bottom: 30px!important;
          }

          &-heading {
            font-family: $semifont;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 130%;
            color: $dblack;
            margin-bottom: 20px;
          }
        }

        .metro_form {
          .form_group-btn {
            margin-bottom: 50px!important;
            cursor: pointer;
          }

          .metro_group {
              display: flex;
              margin-bottom: 30px;

              .form_group {
                &:first-child {
                  input {
                    width: 230px;
                    border: none;
                    border-top: 1px solid $gray;
                    border-bottom: 1px solid $gray;
                    border-left: 1px solid $gray;
                  }
                }
              }
            }
        }

        .address_group {
          margin-bottom: 50px!important;
          input {
            width: 630px!important;
          }
        }

        .inline_group {
          flex-direction: row!important;

          .label_wrap {
            margin-right: 16px;

            input {
              width: 70px;
            }
          }
        }

        .form_group {
          display: flex;
          flex-direction: column;
          margin-bottom: 10px;

          .btns_wrap {
            display: flex;
            margin-top: 30px;
            margin-left: 30px;

            .active {
              background: $yellow;
            }

            .form_group-btn {
                width: 270px!important;
                height: 40px!important;
                border: 1px solid $yellow;
                margin-right: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 30px;
                cursor: pointer;

              &_item {
                font-family: $font;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0.02em;
                color: $dblack;
                display: block;
              }
            }
          }

          &-label {
            font-family: $semifont;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.02em;
            color: #292930;
            margin-bottom: 15px;
          }

          .label_wrap {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
          }

        input {
          outline: none;
          padding-left: 16px;

            @include breakpoint($medium) {
              width: 370px;
              height: 40px;
            }
          }

          &-heading {
            font-family: $font;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.02em;
            color: $dblack;
            margin-bottom: 25px;
            display: block;
          }
        }
      }
    }
  }
}