.order_list {
  &-wrap {
    border: 1px solid $light_gray;
    padding: 40px 30px;

    .proceedPayment-btn {
      margin-top: 50px;
      width: 230px;
      height: 40px;
      .action_btn {
        width: 100%!important;
      }
    }

    &_footer {
      &-row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
        align-items: center;

        &_item {
          font-family: $semifont;
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          line-height: 14px;
          letter-spacing: 0.02em;
          color: $black;
        }
      }
    }

    &_inner {
      &-row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 24px;
        align-items: center;

        &_item {
          margin-bottom: 17px;

          &-text {
            font-family: $font;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.02em;
            color: $black;
            max-width: 130px;
            display: block;
          }

          &-head {
            font-family: $semifont;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.02em;
            color: $black;
          }
        }
      }
    }

    &_item {
      &-head {
        h1 {
          font-family: $semifont;
          font-weight: 500;
          font-size: 12px;
          line-height: 14px;
          letter-spacing: 0.02em;
          text-transform: uppercase;
          color: $dblack;
          padding-bottom: 17px;
          width: 100%;
          border-bottom: 1px solid $yellow;
          margin-bottom: 30px;
        }
      }
    }
  }
}
