.register_greet {
    max-width: 250px!important;
}
.password_field {
    &-label {
        display: block;
        background-image: url('/images/icons/closedeyese.svg');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        position: absolute;
        z-index: 9999;
        top: 2rem;
        cursor: pointer;
        right: 10px;
        margin-right: 20px;

        @include breakpoint($medium) {
            right:0;
        }
    }
}

.main {
    margin: 0 auto;
    background: $white;
    margin-bottom: 250px;
    position: relative;
    width: 100%;

    @include breakpoint($medium) {
        max-width: 970px;
        width: 970px;
        box-shadow: $popupboxshadow;
        height: 574px;
    }

    .container {
        width: 320px;
        height: 346px;
        margin: 0 auto;
        align-self: flex-start;
        padding-top: 38px;
    }
    .card-body {
        align-self: flex-start;
        width: 100%;
        //padding-top: 38px;

        form {
            .agreement {
                display: flex;
                align-items: center;
                margin: 20px 0;

                span {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 14px;
                    letter-spacing: 0.02em;
                    color: $blue;
                    margin-left: 35px!important;
                }

                .form-check_box {
                    border: 1px solid $light_gray;
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    z-index: 99999;
                    background: #fff;
                    cursor: pointer;
                }

                .form-control {
                    width: 20px;
                    height: 20px;
                }

                span {
                    font-family: $font;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 14px;
                    letter-spacing: 0.02em;
                    color: $blue;
                    margin-left: 10px;
                }
            }
            .form-group {
                display: flex;
                flex-direction: column;
                position: relative;


                .agreement_check {
                    display: flex;
                    align-items: center;

                    .btn-link {
                        font-family: $font;
                        font-size: 12px;
                        line-height: 15px;
                        text-align: right;
                        letter-spacing: 0.02em;
                        color: $blue;
                        display: block;
                        width: 150px;
                    }
                }

                .form-check {
                    flex-basis: 80%;
                    display: flex;
                    align-items: center;

                    &_box {
                        border: 1px solid $light_gray;
                        width: 20px;
                        height: 20px;
                        position: absolute;
                        z-index: 99999;
                        background: $white;
                        cursor: pointer;

                        &:after {
                            content: '';
                            height: 9px;
                            width: 6px;
                            background-image: url('/img/icons/arrow_right_black.svg');
                        }
                    }

                    .form-check-label {
                        font-family: $font;
                        font-size: 12px;
                        line-height: 15px;
                        text-align: right;
                        letter-spacing: 0.02em;
                        color: $black;
                        cursor: pointer;
                        margin-left: 35px;
                    }
                    .form-check-input {
                        width: 20px;
                        height: 20px;
                        margin: 0;
                    }
                }

                input {
                    width: 270px;
                    height: 40px;
                    border-radius: 30px;
                    @include input();
                    margin-right: 0;
                    outline: none;
                    padding: 0 0 2px 30px;

                    &::placeholder {
                        font-family: $font;
                        font-size: 12px;
                        line-height: 14px;
                        letter-spacing: 0.02em;
                        color: $gray;
                    }
                }
                //safari
                @media not all and (min-resolution: .001dpcm) {
                    input {
                        padding: 20px;
                    }
                }
            }
            .form_type {
                display: grid;
                width: 300px;
                grid-template-columns: 1fr 1fr;
                height: 40px;
                align-items: center;
                justify-items: center;
                border: 1px solid $light_gray;
                border-radius: 30px;
                overflow: hidden;

                &-item {
                    display: block;
                    color: $white;
                    cursor: pointer;
                    height: 100%;
                    width: 100%;

                    .form_type-itemText {
                        color: $black;
                        height: 100%;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        font-family: $mfont;
                        font-size: 12px;
                        line-height: 15px;
                        text-align: center;
                        letter-spacing: 0.02em;

                        span {
                            margin: 0;
                        }

                        &_inner {
                            margin-bottom: 0;
                        }
                    }
                }

                .activeFormItem {
                    background: black;
                    height: 100%;
                    width: 100%;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    height: 100%;
                    justify-content: center;

                    .form_type-itemText {
                        span {
                            color: $white;
                        }
                    }
                }

            }
        }

        @include breakpoint($medium) {
            width: 300px;
        }
    }

    .card {
        .card-greet {
            font-family: $font;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.02em;
            color: $gray;
            max-width: 170px;

            &_text {
                margin: 20px 0;
                text-align: left;
            }
        }
        .card-header {
            font-family: $mfont;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            text-transform: uppercase;
            color: $black;
            border-bottom: 1px solid $yellow;
            padding-bottom: 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &:after {
                content: '';
                display: block;
                background-image: url('/images/icons/closed.svg');
                width: 12px;
                height: 12px;
                @include breakpoint($medium) {
                    display: none;
                }
            }
        }
    }
}

.form-group {
    margin-bottom: 10px;
}
