.delServ {
    &_inner {
        max-width: 630px;
    }
    &_item {
        margin-bottom: 10px;

        &:first-child {
            .form_group {
                &_input {
                    width: 300px;
                }
            }
        }

        &-seven {
            display: grid;
            grid-template-columns: repeat(6, 1fr) 1fr;
            grid-gap: 20px;

            .form_group {
                &:last-child {
                    .form_group_label {
                        margin-bottom: 0;
                        font-size: 12px;
                        line-height: 18px;
                        text-align: left;
                    }
                }

                .form_group_input {
                    max-width: 77px;
                }
            }
        }
        .form_group {
            textarea::placeholder {
                font-size: 12px;
                line-height: 14px;
                color: $light_gray;
            }

            textarea {
                width: 630px;
                height: 170px;
                border: 1px solid $light_gray;
                box-sizing: border-box;
                resize: none;
                padding: 10px 0 0 10px;
                margin-bottom: 20px;
                outline: none;
            }
            &_label {}
            &_input {
                border-radius: 0;
                padding: 0 0 0 10px;
                font-size: 12px;
                line-height: 14px;
            }
            &_message {}
        }
    }
}
