.questions {
    max-width: $layoutw;
    margin: 0 auto;

    &_heading {
        font-family: $font;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 26px;
        text-transform: uppercase;
        color: $black;
        margin: 0;
    }

    &_head {
        font-family: $semifont;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        text-align: justify;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: $dblack;
        margin-bottom: 15px;
    }

    &_desc {
        font-family: $font;
        font-size: 12px;
        line-height: 20px;
        text-align: justify;
        letter-spacing: 0.02em;
        color: $dblack;
    }

    &_items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
    }

    &_item {
        display: grid;
        grid-template-columns: 70px 400px;
        grid-gap: 30px;
        margin-bottom: 80px;
    }
    &_num {
        position: relative;

        &:before {
            content: '';
            display: block;
            border-radius: 50%;
            height: 70px;
            width: 70px;
            position: absolute;
            border: 4px solid $lruby;
        }

        span {
            font-family: $semifont;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 100%;
            letter-spacing: -0.02em;
            text-transform: uppercase;
            color: $lruby;
            text-align: center;
            padding-top: 17px;
        }
    }
    &_wrap {

    }
}
