.filters {
  max-width: 270px;
  border: 1px solid $light_gray;
  padding: 0px 20px 0 20px;
  margin-bottom: 50px;
  display: none;
  position: relative;
  z-index: 9;

  @include breakpoint($phone) {
    display: block;
  }

  &_wrapper {
    &-item {
        border-bottom: 1px solid $light_gray;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        position: relative;
        cursor: pointer;
        padding: 16px 0 0 0;

        &:last-child {
            .filters_wrapper-item_list {
                border-bottom: none;
            }
        }

        &_label {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            img {
                transition: all $transition;
            }
        }

      &:first-child {
        border-top:none;
      }
      &:last-child {
        border: none;
      }
      &_text {
        font-family: $font;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.02em;
        color: $dblack;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:after {
          content: "";
          display: block;
          background-image: url("/img/icons/arrow_right.svg");
          height: 10px;
          width: 4px;
          @include bg(contain, center);
        }
      }

      &_list {
        padding: 0;
        margin: 0;
        list-style: none;

        &-text {
          border-bottom: 1px solid $light_gray;
          font-family: $font;
          font-size: 12px;
          line-height: 14px;
          letter-spacing: 0.02em;
          color: $dblack;
          display: flex;
          align-items: center;
          padding: 12.5px 0;
          margin-left: 10px;

            .checkbox {
                .checkbox-wrap {
                    width: 10px;
                    height: 10px;
                }
            }

            span {
                margin-left: 20px;
            }

          &:last-child {
            border: none;
          }
        }
      }
    }
  }
}

.MuiSvgIcon-fontSizeSmall {
  font-size: 1rem!important;
}
