.mfilters {
  position: relative;

  &_variants {
    font-family: $font;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: black;
    margin: 0 10px 10px 10px;
    position: absolute;
    z-index: 9999999;
    width: calc(100% - 20px);
    top: 3.7rem;
    background: $white;
    box-shadow: $menu_shadow;

    &-item {
      padding: 5px 0;
    }
  }

  &_wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 7px;
    align-items: center;
    justify-content: space-around;
    margin: 0 10px;
    position: relative;
    z-index: 99999;

    &-item {
      margin: 20px 0;
      border: 1px solid $light_gray;
      min-width: 50px;
      min-height: 25px;
      position: relative;
      text-align: center;
      min-height: 30px;
      display: flex;
      align-items: center;

      &_inner {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
      }

      &_arrow {
        transform: rotate(90deg);   
      }

      &:after {
        content: "";
        display: block;
        height: 100%;
        border-right: 1px solid $light_gray;
        position: absolute;
        top: 0;
        right: 0;
      }

      span {
        font-family: $font;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: black;
        display: block;
      }

      &-holder {
        background: red;
        width: 100%;
        position: absolute;
        height: 500px;
        z-index: 99;
        display: none;
      }
    }
  }
}

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 10px;

  &:after {
    content: "";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: $black transparent transparent transparent;
    position: absolute;
    top: 16px;
    right: 10px;
  }
  &:hover {
    background-color: $white;
  }
  &:active,
  &.active {
    background-color: $white;
    &:after {
      top: 9px;
      border-color: transparent transparent $black transparent;
    }
  }
}

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: $white;
  li {
    margin: 0;
    padding: 12px 0;
    text-indent: 15px;
    border-bottom: 1px solid $light_gray;

    &:hover {
      color: $white;
      background: $black;
    }
    &[rel="hide"] {
      display: none;
    }
  }
}
