.mobFilters {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 20px 16px 20px 16px;

    &_results {
        // mobFilters_results_item
        // mobFilters_results_item_text

        &_item {
            &_text {
                margin-left: 35px;
            }
        }
    }

    &_item {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $light_gray;
        max-height: 30px;
        height: 30px;
        cursor: pointer;

        &_text {
            font-family: $semifont;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.02em;
            color: #000000;
        }
    }
}
