
.action_btn, .magic_btn, .rmagic_btn {
    background: $yellow;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 30px;
    width: 160px;
    padding: 0;

    @include breakpoint($medium) {
        width: 200px;
        height: 40px;
    }

    &-item, span {
        font-family: $font;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.02em;
        color: $dblack;
        border-radius: 30px;
        text-transform: uppercase;
        align-items: center;
    }
}
.allcomments_btn {
    width: 270px;
    height: 40px;
    margin: 0 auto 50px auto;
    font-family: $mfont;
}
.further_btn {
    width: 170px;
    height: 40px;
    background: #fff;
    border: 1px solid $yellow;

    div {
        font-family: $font;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: $black;
        border-radius: 30px;
    }
}

.proceed_btn, .proceed_flat_btn {
    div {
        font-family: $font !important;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.02em;
        color: $black;
    }
}

.proceed_btn {
    width: 330px !important;
    height: 40px !important;
}

.proceed_flat_btn {
    width: 330px !important;
    height: 40px !important;
    border: 2px solid $yellow;
    background: #fff !important;
}

.yellow_btn {
    background-color: $yellow !important;
}

.animated_btn {
    transition: box-shadow .2s;

    div {
        user-select: none;
    }

    &:hover {
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
    }
}

.flat_btn {
    width: 170px;
    height: 40px;
    border: 1px solid #FDD935;
    box-sizing: border-box;
    border-radius: 30px;
    color: $dblack;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}

.disabled_btn {
    background: $light_gray !important;
    border: none!important;
    pointer-events: none;

    span {
        color: $dblack;
    }
}

.text_btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.animated_btn:active {
    -webkit-animation: shadow_inset .2s;
    animation: shadow_inset .2s;
}

.magic_btn {
    position: relative;
    appearance: none;
    background: $light_gray !important;
    padding: 0;
    border: none;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 100px;

    span {
        position: relative;
        pointer-events: none;
        z-index: 9999;
        text-transform: uppercase;
    }

    &::before {
        --size: 0;
        content: '';
        position: absolute;
        left: var(--x);
        top: var(--y);
        width: var(--size);
        height: var(--size);
        background: radial-gradient(circle closest-side, rgba(253, 217, 53, 1), transparent);
        transform: translate(-50%, -50%);
        transition: width .2s ease, height .2s ease;
    }

    &:hover::before {
        --size: 400px;
    }
}
