.mb30 {
    margin-bottom: 30px!important;
}
.mb10 {
    margin-bottom: 10px!important;
}
.mb5 {
    margin-bottom: 5px!important;
}
.mb0 {
    margin-bottom: 0!important;
}
.mauto {
    margin: 0 auto!important;
}
.mt60 {
    margin-top: 60px!important;
}
