.load_more-btn {
    position: absolute;
    cursor: pointer;
    left: 0;
    display: none;

    @include breakpoint($medium) {
        display: block;
    }

    img {
        display: none;
    }
}
.as-visible {
  visibility: visible !important;
  display: block;
}
.display {
    display: block;
}
.overflow {
  overflow: hidden !important;
  position: fixed;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.mobile-hide {
  display: none !important;
  @include breakpoint($phone) {
    display: block !important;
  }
}

.desktop-hide {
  @include breakpoint($phone) {
    display: none !important;
  }
}
.activeItem {
  position: relative;
  color: black !important;
  &:after {
    background-image: url("/img/icons/arrow_right_black.svg") !important;
  }

  @include breakpoint($phone) {
    &:before {
      position: absolute;
      margin-top: 10px;
      content: "";
      display: block;
      height: 3px;
      width: 100%;
      bottom: -22px;
      background-image: -webkit-linear-gradient(left, $purple2, $blue);
    }
  }
}
.show_all_btn {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    background: #fff!important;
    border: 1px solid #fdd935;
    justify-content: center;
    width: 200px!important;
    background: $yellow;
    border-radius: 30px;
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 40px;

    .action_btn-item {
        font-size: 12px;
        font-family: $font;
        font-style: normal;
        font-weight: 500;
        line-height: 14px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: $black;
    }
}

.required {
    color: $red;
}
.blue {
  color: $blue;
}
.search_width {
  width: calc(100% - 90px)!important;
  z-index: 99;

  @include breakpoint($medium) {
    min-width: 506px!important;
  }

  .menu_wrapper-item_search_input {
    width: 100%!important;

    form {
      margin: 0;
    }

    input {
      width: 100%!important;
    }
  }
  .menu_wrapper-item_search_button {
    border-radius: 0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }
}

.active_border {
  border-bottom: 1px solid $yellow;
}
.error {
    background-color: $light_gray;
    padding-bottom: 180px;
}
.error404 {
  width: 100%;
  margin: 0 auto;

  img {
    object-fit: cover;
    margin: 20px;
    width: calc(100% - 40px);
  }

  @include breakpoint($medium) {
    width: 643px;
    height: 571px;
    padding-bottom: 100px;
  }
}

.graybg {
  background-color: $light_gray;
}

.as-none {
  display: none!important;
}

.as-filter-visible {
    padding: 0!important;
    padding-top: 16px!important;
    border-bottom: none!important;
}
.filter-label-visible {
    border-bottom: 1px solid $light_gray;
    padding-bottom: 16px;
}

.as-flex {
    display: flex!important;
}
.as-visible {
  display: block!important;
}
.swiper-slide {
  cursor: pointer;
  height: 166px;
  @include  breakpoint($medium) {
    height: 100%;
  }
}
.error-message {
    font-size: 12px;
    color: $red;
}
.rotate {
    transform: rotate(270deg);
}
.rotate180 {
    transform: rotate(180deg)!important;
}
.arrow_rotate {
    transform: translate(0, -50%) rotate(270deg)!important;
}
.mobile_menu {
  height: 98vh!important;
}

input, textarea {
  font-family: "Montserrat", sans-serif;
}

[type="submit"] {
  border: none;
  outline: none!important;
}

.active_ul {
  display: block!important;
  list-style: none;
  position: absolute;
  max-width: 400px;
  margin-left: -1px;
  background: #fff;
  top: 36px;
  width: 101%;
  padding: 0;
  margin-top: 0;
  padding-left: 0;
  border: 1px solid $light_gray;
  z-index: 9999;
  max-height: 121px;
  overflow-y: scroll;

  li {
    font-family: $font;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: $dblack;
    padding: 20px 1rem;
    transition: all $transition;

    &:hover {
      background: $black;
      color: #fff;
    }
  }
}

a {
  &:hover {
    text-decoration: none!important;
  }
}
span {
  display: block!important;
}
.deliveryTypeError {
  border-bottom: 1px solid $red;
}

button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: #fff;
    outline:none;
}

.text_buy-btn {
    width: 200px!important;
    height: 40px!important;

    span {
        margin-left: 10px;
        font-family: $font;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: $black;
        border-radius: 30px;
    }
}

b {
    font-family: $semifont;
}

.uk-button-default  {
    border:none!important;
    font-family: $font;
    font-size: 12px!important;
    line-height: 14px!important;
    letter-spacing: 0.02em!important;
}

.right {
    float: right;
}

.invalid {
    color: $ruby!important;
}

.dash_active {
    a {
        font-family: $semifont;
    }
}

.menu_active {
    &:after {
        display: block;
        content:"";
        width: 100%;
        height: 3px;
        background: $gradient;
        margin-top: 10px;
    }
}
.page_content {
    min-height: 750px;
    // max-width: $layoutw;
    // margin: 0 auto;
}
.ml100 {
    margin-left: 100px;
}

.resetGrid {
    grid-template-columns: unset!important;
    width: 100%;
    max-width: 870px;
}
.top3 {
    top: 3px!important;
}
.top10 {
  top: 10px!important;
}
.top9 {
  top: 9px!important;
}
//safari
@media not all and (min-resolution: .001dpcm) {
    input::-webkit-input-placeholder {
        padding-top: 5px;
    }

    [data-phone] {
        padding-top: 2px;
    }
}

.topFixedMenu {
  z-index: 9999999;
  position: fixed;
  top: 0;
}
