.animland {
    width: 100%;
    height: 170px;
    margin: 170px 0;
    background: $yellow;

    &_icon {
       position: relative;

       &_inner {
           background-image: url('/images/landing/buddies.svg');
           background-repeat: no-repeat;
           transform: translate(0, -50%);
           position: absolute;
           width: 425px;
           height: 420px;
           top: 50%;
           pointer-events: none;
           left: -1000px;
       }
    }

    &_heading {
        font-family: $font;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: $dblack;
        pointer-events: none;
    }

    &_wrap {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        align-content: center;
        height: 100%;
        max-width: 1029px;
        margin: 0 auto;
    }
}
