.prdLt {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #D4D4D5;

    &_descItem {
        display: grid;
        grid-template-columns: 200px 1fr;
        &-left {}
        &-right {
            font-family: $semifont;
        }
    }
    &_wrap {
        align-items: center;
        height: 270px;
        display: flex;
    }
    &_image {
        width: 270px;
        height: 270px;
        margin-right: 30px;
        img {
            height: 100%;
            object-fit: contain;
        }
    }
    &_cont {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    &_top {
        font-family: $semifont;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.02em;
        color: #292930;
        margin-bottom: 20px;
    }
    &_mid {}
    &_bot {
        display: grid;
        grid-template-columns: 200px 1fr;
        align-items: center;
        position: absolute;
        bottom: 0;
    }
    &_price {
        font-family: $font;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 26px;
        text-transform: uppercase;
        color: #3559FD;
        position: relative;

        &_text {
            position: relative;
        }

        img {
            position: absolute;
            bottom: -2px;
            right: -15px;
        }
    }

    &_btns {
        display: flex;
    }
}
