.actorders {
    max-width: 900px;
    margin-left: 20px;

    &_wrap {
        padding-bottom: 50px;
        border-bottom: 1px solid $yellow;
        margin-bottom: 30px;
    }

    &_items {
        max-height: 200px;
        overflow: auto;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &_table {
        &_item {
            display: grid;
            grid-template-columns: 100px 120px 130px 280px 140px 130px;
            width: 100%;

            &_inner {
                font-family: $font;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0.02em;
                color: $dblack;
                border-right: 1px solid #fff;
                height: 40px;
                display: flex;
                align-items: center;
                padding-left: 15px;
            }
        }
        &_head {
            display: grid;
            grid-template-columns: 100px 120px 130px 280px 140px 130px;
            width: 100%;

            &_item {
                font-family: $semifont;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0.02em;
                color: $dblack;
                border-right: 1px solid #fff;
                background-color: $light_gray;
                height: 40px;
                display: flex;
                align-items: center;
                padding-left: 15px;
            }
        }
    }

    &_head {
        font-family: $font;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.02em;
        color: $dblack;
        padding-bottom: 10px;
    }
}
